@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #FAFAFA;
}

h2 {
  font-family: "Lora", serif;
  font-size: 40px;
}
/* Header Styling */
header {
  padding: 0px 100px;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.custom-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  padding-left: 40px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  color: #333;
  /* background-image: url("/images/Icons/dropdown_icon.png"); */
  background-image: url("/static/images/AdminPage/Search.png");
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 20px;
  background-color: #F1F1F1;
}
.admin{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

}
.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.admin-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.admin-box h3{
  font-size: 18px;
}
.admin-box p{
  font-size: 16px;
  color: #726C6C;
  ;
}
.img-tools{
  height: 30px;
  width: 30px;
}

/* Navigations Styling */
nav{
  padding: 50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav a{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: #999999;
}
/* nav a:hover{
  color: #3325B2;
  padding: 5px 10px;
  border: 1px solid black;
} */
nav a img{
  width: 30px;
  height: 30px;
}
nav a p{
  font-size: 20px;
  font-weight: 600;
}
.p-doctors{
  color: #3325B2;
  padding: 10px 20px;
  border-radius: 10px; 
  background-color: #EFEDFF;
}
/* Hero Styling */
#hero{
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
}
#appointment-requests{
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #FFFFFF;
  padding: 40px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #CCCCCC;
}
.top-div h1{
  font-size: 25px;
  font-weight: 700;
  color:#151314;
  text-align: left;
  align-items: start;
}
.middle-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
}
 .doctorscard{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid #CCCBCB;
  padding: 30px;
  border-radius: 30px;
 }
 .dot-option{
  width: 25px;
  align-self: flex-start;
  margin-bottom: 10px;
 }
 .doctors-image{
  height: 120px;
  width: 120px;
 }
 .doctorscard h3{
  font-size: 23px;
  font-weight: 700;
  color:#433E3F;
 }
 .doctors-field{
  font-size: 18px;
  font-weight: 400;
  color:#858585;
 }
 .doctors-id{
  font-size: 16px;
  font-weight: 400;
  color:#858585;
 }
 .star-rating-div{
  display: flex;
  flex-direction: row;
  gap: 5px;
 }
 .stars{
  display: flex;
  flex-direction: row;
 }
 .stars img{
  height: 20px;
  width: 20px;
  padding-left: 5px;
 }
 .rating-no{
  font-size: 18px;
  font-weight: 700;
  color:#9F9C9C;
 }
 .address-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
 }
 .address-div img{
  width: 15px;
 }
 .address-div p{
  font-size: 13px;
  font-weight: 600;
  color:#898384;
  text-align: center;
 }
 .button-div{
  align-self: center;
 }
 .button-div button{
  font-size: 14px;
  font-weight: 600;
  color:#FAFAFA;
  background-color: #3325B2;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  transition: 0.5s;
 }
 .button-div button:hover{
  color: #3325B2;
  background-color: #FAFAFA;
  border: 1px solid #3325B2;
  cursor: pointer;
 }
/* Footer styling */
.footer {
  display: flex;
  flex-direction: row;
  margin: 60px;
}
.main-footer {
  display: flex;
}
.lastlayer {
  background-color: #150f49;
  padding: 40px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyright {
  font-size: 15px;
  font-weight: 700;
  color: #fffcfc;
}
.lastlayer div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.lastlayer div p {
  font-size: 15px;
  font-weight: 700;
  color: #fffcfc;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #44c853;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

/*Responsiveness*/
/* X-large devices (large desktops, less than 1400px*/
@media (max-width: 1400px) {
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
}
/* Medium devices (tablet, less than 992px)*/
@media (max-width: 992px) {
  /* Nav */
  header {
    padding: 0px 50px;
  }
}
/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
  /* Nav */
  header {
    padding: 0px 30px;
  }

  /* Footer */

  .lastlayer {
    padding: 20px 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  .lastlayer div {
    flex-direction: column;
    gap: 15px;
  }
}

/* X-small devices (potrait phones, less than 576px) */
@media (max-width: 576px) {
  /* Navigation */
  header {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
  
  /* Footer */
  .footer {
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }

  .main-footer {
    margin: 7px;
  }
  .lastlayer {
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    align-items: center;
  }
  .copyright {
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
  }
  .lastlayer div p {
    text-decoration: underline;
    font-size: 12px;
    font-weight: 600;
  }
}
