<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/FAVICON.png" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/adminPatients.css" />
    <!-- JavaScript -->
    <script src="/static/js/index.js" defer></script>

    <title>Medlorix │ Admin Dashboard Appointment</title>
  </head>

  <body>
    <header>
      <a href="/"
        ><img
          class="brand-logo"
          src="/static/images/Medlorix-logo.svg"
          alt="Medlorix logo"
      /></a>
      <div class="search">
        <input type="search" placeholder="Search" class="custom-dropdown" />
      </div>
      <div class="admin">
        <div class="admin-box">
          <img
            src="/static/images/AdminPage/Image User 1.png"
            alt=""
            class="profile-pic"
          />
          <div class="profile-name">
            <h3>Mogaji Bolaji</h3>
            <p>Admin</p>
          </div>
        </div>
        <div class="notifications">
          <img
            src="/static/images/AdminPage/NotificationVector.png"
            alt=""
            class="img-tools"
          />
        </div>
        <div class="settings">
          <img
            src="/static/images/AdminPage/SettingsVector.png"
            alt=""
            class="img-tools"
          />
        </div>
      </div>
    </header>

    <!-- Navigation Section -->
    <nav>
      <a href="/admin-appointment">
        <img src="/static/images/AdminPage/Vector.png" alt="" />
        <p>Appointments</p>
      </a>
      <a href="/admin-Requests">
        <img
          src="/static/images/AdminPage/material-symbols_add-task.png"
          alt=""
        />
        <p>Requests</p>
      </a>
      <a href="/admin-doctors">
        <img src="/static/images/AdminPage/fontisto_doctor.png" alt="">
        <p>Doctors</p>
      </a>
      <a href="/admin-patients" class="p-doctors">
        <img src="/static/images/AdminPage/patient.png" alt="" />
        <p>Patients</p>
      </a>
    </nav>
    <!-- Hero Section -->
    <section id="hero">
      <div id="appointment-requests">
        <div class="top-div">
          <h1>Patients</h1>
        </div>
        <div class="middle-div">
          <div class="doctorscard">
            <img
              src="/static/images/AdminPage/Group 9.6.png"
              alt=""
              class="dot-option"
            />
            <img
              src="/static/images/AdminPage/patient-img.png"
              alt=""
              class="doctors-image"
            />
            <h3 class="naming">Jide Babs</h3>
            <p class="doctors-field">Diabetes</p>
            <p class="doctors-id">ID 2122228494</p>

            <div class="address-div1">
              <h6 class="rating-no">Schedule:</h6>
              <p class="rating-no1">01/10/2024  - 5PM</p>
            </div>
          </div>
          <div class="doctorscard">
            <img
              src="/static/images/AdminPage/Group 9.6.png"
              alt=""
              class="dot-option"
            />
            <img
              src="/static/images/AdminPage/patient-img.png"
              alt=""
              class="doctors-image"
            />
            <h3 class="naming">Jide Babs</h3>
            <p class="doctors-field">Diabetes</p>
            <p class="doctors-id">ID 2122228494</p>

            <div class="address-div1">
              <h6 class="rating-no">Schedule:</h6>
              <p class="rating-no1">01/10/2024  - 5PM</p>
            </div>
          </div>
          <div class="doctorscard">
            <img
              src="/static/images/AdminPage/Group 9.6.png"
              alt=""
              class="dot-option"
            />
            <img
              src="/static/images/AdminPage/patient-img.png"
              alt=""
              class="doctors-image"
            />
            <h3 class="naming">Jide Babs</h3>
            <p class="doctors-field">Diabetes</p>
            <p class="doctors-id">ID 2122228494</p>

            <div class="address-div1">
              <h6 class="rating-no">Schedule:</h6>
              <p class="rating-no1">01/10/2024  - 5PM</p>
            </div>
          </div>
          <div class="doctorscard">
            <img
              src="/static/images/AdminPage/Group 9.6.png"
              alt=""
              class="dot-option"
            />
            <img
              src="/static/images/AdminPage/patient-img.png"
              alt=""
              class="doctors-image"
            />
            <h3 class="naming">Jide Babs</h3>
            <p class="doctors-field">Diabetes</p>
            <p class="doctors-id">ID 2122228494</p>

            <div class="address-div1">
              <h6 class="rating-no">Schedule:</h6>
              <p class="rating-no1">01/10/2024  - 5PM</p>
            </div>
          </div>
          <div class="doctorscard">
            <img
              src="/static/images/AdminPage/Group 9.6.png"
              alt=""
              class="dot-option"
            />
            <img
              src="/static/images/AdminPage/patient-img.png"
              alt=""
              class="doctors-image"
            />
            <h3 class="naming">Jide Babs</h3>
            <p class="doctors-field">Diabetes</p>
            <p class="doctors-id">ID 2122228494</p>

            <div class="address-div1">
              <h6 class="rating-no">Schedule:</h6>
              <p class="rating-no1">01/10/2024  - 5PM</p>
            </div>
          </div>
          <div class="doctorscard">
            <img
              src="/static/images/AdminPage/Group 9.6.png"
              alt=""
              class="dot-option"
            />
            <img
              src="/static/images/AdminPage/patient-img.png"
              alt=""
              class="doctors-image"
            />
            <h3 class="naming">Jide Babs</h3>
            <p class="doctors-field">Diabetes</p>
            <p class="doctors-id">ID 2122228494</p>

            <div class="address-div1">
              <h6 class="rating-no">Schedule:</h6>
              <p class="rating-no1">01/10/2024  - 5PM</p>
            </div>
          </div>

        </div>
        <div class="button-div">
          <button>See More</button>
        </div>
      </div>
    </section>
    <!-- Footer Section -->
    <footer>
      <div class="lastlayer">
        <p class="copyright">
          Copyright &copy; 2024. Medlorix. All rights reserved
        </p>
        <div>
          <a href="/terms"><p>Terms and Conditions</p></a>
          <a href="/terms"><p>Privacy Policy</p></a>
        </div>
      </div>
    </footer>
  </body>
</html>
