<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/FAVICON.png" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/adminDoctors.css" />
    <!-- JavaScript -->
    <script src="/static/js/index.js" defer></script>
    
    <title>Medlorix │ Admin Dashboard Appointment</title>
  </head>

  <body>
    <header>
      <a href="/"
        ><img
          class="brand-logo"
          src="/static/images/Medlorix-logo.svg"
          alt="Medlorix logo"
      /></a>
      <div class="search">
        <input type="search" placeholder="Search" class="custom-dropdown">
      </div>
      <div class="admin">
        <div class="admin-box">
          <img src="/static/images/AdminPage/Image User 1.png" alt="" class="profile-pic">
          <div class="profile-name">
            <h3>Mogaji Bolaji</h3>
            <p>Admin</p>
          </div>
        </div>
        <div class="notifications">
          <img src="/static/images/AdminPage/NotificationVector.png" alt="" class="img-tools">
        </div>
        <div class="settings">
          <img src="/static/images/AdminPage/SettingsVector.png" alt="" class="img-tools">
        </div>
      </div>
    </header>

    <!-- Navigation Section -->
    <nav>
      <a href="/admin-appointment">
        <img src="/static/images/AdminPage/Vector.png" alt="">
        <p>Appointments</p>
      </a>
      <a href="/admin-Requests">
        <img src="/static/images/AdminPage/material-symbols_add-task.png" alt="">
        <p>Requests</p>
      </a>
      <a href="/admin-doctors" class="p-doctors">
        <img src="/static/images/AdminPage/fontisto_doctor_colored.png" alt="">
        <p>Doctors</p>
      </a>
      <a href="/admin-patients">
        <img src="/static/images/AdminPage/mdi_users.png" alt="">
        <p>Patients</p>
      </a>
    </nav>
    <!-- Hero Section -->
    <section id="hero">
      <div id="appointment-requests">
        <div class="top-div">
          <h1>Registered Doctors</h1>
        </div>
        <div class="middle-div">
          <div class="doctorscard">
            <img src="/static/images/AdminPage/Group 9.6.png" alt="" class="dot-option">
            <img src="/static/images/AdminPage/Ellipse 96.png" alt="" class="doctors-image">
            <h3>Dr. Mogaji Bolaji</h3>
            <p class="doctors-field">Obsterics & Gyneacology </p>
            <p class="doctors-id">ID 2122228494</p>
            <div class="star-rating-div">
              <div class="stars">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 13.png" alt="">
              </div>
              <div><p class="rating-no">4.0</p></div>
            </div>
            <div class="address-div">
              <img src="/static/images/AdminPage/icon.png" alt="">
              <p>1, Tanke Junction, Ilorin, Kwara , Nigeria</p>
            </div>
          </div>
          <div class="doctorscard">
            <img src="/static/images/AdminPage/Group 9.6.png" alt="" class="dot-option">
            <img src="/static/images/AdminPage/Ellipse 96.png" alt="" class="doctors-image">
            <h3>Dr. Mogaji Bolaji</h3>
            <p class="doctors-field">Obsterics & Gyneacology </p>
            <p class="doctors-id">ID 2122228494</p>
            <div class="star-rating-div">
              <div class="stars">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 13.png" alt="">
              </div>
              <div><p class="rating-no">4.0</p></div>
            </div>
            <div class="address-div">
              <img src="/static/images/AdminPage/icon.png" alt="">
              <p>1, Tanke Junction, Ilorin, Kwara , Nigeria</p>
            </div>
          </div>
          <div class="doctorscard">
            <img src="/static/images/AdminPage/Group 9.6.png" alt="" class="dot-option">
            <img src="/static/images/AdminPage/Ellipse 96.png" alt="" class="doctors-image">
            <h3>Dr. Mogaji Bolaji</h3>
            <p class="doctors-field">Obsterics & Gyneacology </p>
            <p class="doctors-id">ID 2122228494</p>
            <div class="star-rating-div">
              <div class="stars">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 13.png" alt="">
              </div>
              <div><p class="rating-no">4.0</p></div>
            </div>
            <div class="address-div">
              <img src="/static/images/AdminPage/icon.png" alt="">
              <p>1, Tanke Junction, Ilorin, Kwara , Nigeria</p>
            </div>
          </div>
          <div class="doctorscard">
            <img src="/static/images/AdminPage/Group 9.6.png" alt="" class="dot-option">
            <img src="/static/images/AdminPage/Ellipse 96.png" alt="" class="doctors-image">
            <h3>Dr. Mogaji Bolaji</h3>
            <p class="doctors-field">Obsterics & Gyneacology </p>
            <p class="doctors-id">ID 2122228494</p>
            <div class="star-rating-div">
              <div class="stars">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 13.png" alt="">
              </div>
              <div><p class="rating-no">4.0</p></div>
            </div>
            <div class="address-div">
              <img src="/static/images/AdminPage/icon.png" alt="">
              <p>1, Tanke Junction, Ilorin, Kwara , Nigeria</p>
            </div>
          </div>
          <div class="doctorscard">
            <img src="/static/images/AdminPage/Group 9.6.png" alt="" class="dot-option">
            <img src="/static/images/AdminPage/Ellipse 96.png" alt="" class="doctors-image">
            <h3>Dr. Mogaji Bolaji</h3>
            <p class="doctors-field">Obsterics & Gyneacology </p>
            <p class="doctors-id">ID 2122228494</p>
            <div class="star-rating-div">
              <div class="stars">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 13.png" alt="">
              </div>
              <div><p class="rating-no">4.0</p></div>
            </div>
            <div class="address-div">
              <img src="/static/images/AdminPage/icon.png" alt="">
              <p>1, Tanke Junction, Ilorin, Kwara , Nigeria</p>
            </div>
          </div>
          <div class="doctorscard">
            <img src="/static/images/AdminPage/Group 9.6.png" alt="" class="dot-option">
            <img src="/static/images/AdminPage/Ellipse 96.png" alt="" class="doctors-image">
            <h3>Dr. Mogaji Bolaji</h3>
            <p class="doctors-field">Obsterics & Gyneacology </p>
            <p class="doctors-id">ID 2122228494</p>
            <div class="star-rating-div">
              <div class="stars">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 12.png" alt="">
                <img src="/static/images/AdminPage/Star 13.png" alt="">
              </div>
              <div><p class="rating-no">4.0</p></div>
            </div>
            <div class="address-div">
              <img src="/static/images/AdminPage/icon.png" alt="">
              <p>1, Tanke Junction, Ilorin, Kwara , Nigeria</p>
            </div>
          </div>
          
        </div>
        <div class="button-div">
          <button>Next</button>
        </div>
      </div>
    </section>
    <!-- Footer Section -->
    <footer>
      <div class="lastlayer">
        <p class="copyright">
          Copyright &copy; 2024. Medlorix. All rights reserved
        </p>
        <div>
          <a href="/terms"><p>Terms and Conditions</p></a>
          <a href="/terms"><p>Privacy Policy</p></a>
        </div>
      </div>
    </footer>
  </body>
</html>
