<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medlorix │ Welcome</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/FAVICON.png" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/bookAppointmentConfirmation.css" />

    <!-- JavaScript -->
    <script src="/static/js/index.js" defer></script>
    <script src="/static/js/bookAppointment.js" defer></script>
    <script src="/static/js/subcribe.js" defer></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("WesP-F72yRnUJFma5");
      })();
    </script>
  </head>

  <body>
    <header>
      <a href="/"
        ><img
          class="brand-logo"
          src="/static/images/Medlorix-logo.svg"
          alt="Medlorix logo"
      /></a>

      <!-- Hamburger Icon -->
      <div class="hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <nav class="navigation">
        <a href="/">HOME</a>
        <!-- Drop down menu for services -->
        <div class="dropdown">
          <a href="/services" class="dropbtn"
            >SERVICES
            <img
              class="dropdown-down"
              src="/static/images/ClinicSearchPage/dropdownIcon.png"
              alt=""
            />
          </a>
          <div class="dropdown-content">
            <a href="/services" class="dropdown-item"
              >Our Services
              <span class="dropdown-icon">→</span>
            </a>
            <a href="/clinicSearch" class="dropdown-item"
              >Clinic Search
              <span class="dropdown-icon">→</span>
            </a>

            <a href="/bookAppointment" class="dropdown-item"
              >See a Doctor
              <span class="dropdown-icon">→</span>
            </a>

            <a href="/sign-up" class="dropdown-item"
              >AI Diagnosis
              <span class="dropdown-icon">→</span>
            </a>

            <a href="/career" class="dropdown-item"
              >Careers

              <span class="dropdown-icon">→</span>
            </a>
          </div>
        </div>
        <a href="/about">ABOUT US</a>
        <a href="/faq">FAQS</a>
        <a href="/contact">CONTACT</a>
      </nav>
      <!-- Green buttons -->
      <a href="/services"> <button class="green">GET STARTED</button></a>
    </header>
    <!-- hero section -->
    <div class="container">
      <div class="appointment-confirmation">
        <img
          src="../static/images/rafiki.png"
          alt="Appointment Calendar"
          class="confirmation-image"
        />

        <p>
          Your Appointment has been successfully scheduled <br />Kindly check
          your email to see your appointment details
        </p>

        <div class="button-container">
          <button class="edit-appointment">
            <a href="bookAppointment.html">Edit Appointment</a>
          </button>
          <button class="new-appointment">
            <a href="bookAppointment.html">Book New Appointment</a>
          </button>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer>
      <div class="footer">
        <div class="main-footer">
          <div class="logo-about">
            <a href="/"
              ><img
                class="brand-logo"
                src="/static/images/Medlorix-logo.svg"
                alt="Brand Logo"
            /></a>
            <p>
              simplifies healthcare by helping users find clinics, book
              appointments, and AI diagnosis. <br />All in one easy-to-use
              platform.
            </p>
            <div class="social-media">
              <a href=""
                ><img src="/static/images/Icons/google.png" alt="Google"
              /></a>
              <a href=""
                ><img src="/static/images/Icons/facebook.png" alt="Facebook"
              /></a>
              <a href=""
                ><img src="/static/images/Icons/twitter.png" alt="Twitter"
              /></a>
              <a href=""
                ><img src="/static/images/Icons/instagram.png" alt="Instagram"
              /></a>
            </div>
          </div>
        </div>
        <div class="firstlayer">
          <div class="company">
            <p><span>Company</span></p>
            <a href="/src/about.html">About us</a>
            <a href="/src/about.html">Our mission</a>
            <a href="/src/about.html">Our Team</a>
          </div>
          <div class="company">
            <p><span>Our Services</span></p>
            <a href="/src/clinicSearch.html">Clinic Search</a>
            <a href="/src/sign-up.html">AI-Based Diagnosis</a>
            <a href="/src/contact.html">Contact Us</a>
          </div>
          <div class="company">
            <p><span>Legal</span></p>
            <a href="/terms">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/terms">Security</a>
          </div>
        </div>
      </div>
      <!-- Back to top arrow -->
      <button onclick="topFunction()" id="myBtn" title="Go to top">
        <img src="/static/images/Icons/up-arrow.svg" />
      </button>
      <div class="lastlayer">
        <p class="copyright">
          Copyright &copy; 2024. Medlorix. All rights reserved
        </p>
        <div>
          <a href="/terms"><p>Terms and Conditions</p></a>
          <a href="/terms"><p>Privacy Policy</p></a>
        </div>
      </div>
    </footer>
  </body>
</html>
