<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medlorix | CareerPage</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/FAVICON.png">
    <link rel="stylesheet" href="/static/css/career.css">
    <!-- JavaScript -->
    <script src="/static/js/index.js" defer></script>
    <script src="/static/js/subcribe.js" defer></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
      (function(){
          emailjs.init("WesP-F72yRnUJFma5");
      })();
    </script>
</head>

<body>
    <!-- Header section -->
    <header>
        <a href="/"><img class="brand-logo" src="/static/images/Medlorix-logo.svg" alt="Medlorix logo"></a>
        <!-- Hamburger Icon -->
        <div class="hamburger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <nav class="navigation">
          <a href="/">HOME</a>
          <!-- Drop down menu for services -->
          <div class="dropdown">
            <a href="#" class="dropbtn">SERVICES
              <img class="dropdown-down" src="/static/images/Clinic Search Page/dropdownIcon.png" alt="">
            </a>
            <div class="dropdown-content">
              <a href="/services" class="dropdown-item">Our Services
                <span class="dropdown-icon">→</span>
              </a>
              <a href="/clinicSearch" class="dropdown-item">Clinic Search
                <span class="dropdown-icon">→</span>
              </a>
    
              <!-- <a href="/src/bookAppointment.html" class="dropdown-item">See a Doctor
                <span class="dropdown-icon">→</span>
              </a> -->
    
              <a href="/sign-up" class="dropdown-item">AI Diagnosis
                <span class="dropdown-icon">→</span>
              </a>
    
              <!-- <a href="/src/career.html" class="dropdown-item">Careers
                <span class="dropdown-icon">→</span>
              </a> -->
            </div>
          </div>
          <a href="/about">ABOUT US</a>
          <a href="/faq">FAQS</a>
          <a href="/contact">CONTACT</a>
        </nav>
        <!-- Green buttons -->
        <a href="/services"> <button class="green">GET STARTED</button></a>
      </header>

    <!-- Hero Section -->
    <div id="hero">
        <div class="search">
            <h2>
                Become our partner
            </h2>
            <p>
                Want to make an impact? Join us as we strive to provide the best healthcare experience to millions of
                people in Africa.
            </p>
        </div>
    </div>

    <!-- Build Section -->
    <div id="build">
        <div class="build-container">
            <div class="left-card">
                <h2>
                    Build the future of healthcare with us
                </h2>
                <p>
                    Want to make an impact? Join us as we strive to provide the best healthcare experience to millions
                    of people
                    in Africa
                </p>
                
                <a href="#"> <button>BECOME OUR PARTNER </button>
                </a>
            </div>
            <div class="right-card">
                <img src="/static/images/CareerPage/shakehands.png" alt="shake hands">
            </div>
        </div>
        <div class="shadow_color">
        </div>
    </div>
    <!-- Make -->
    <div id="make">
        <div class="make-container">
            <div class="left-card1">
                <h2>
                    Make your hospital
                    visible to the world
                </h2>
                <p>
                    Want to make an impact? Join us as we strive to provide the best healthcare experience to millions
                    of people in Africa, register your hospital with us now.
                </p>
                <a href="#"> <button>REGISTER YOUR HOSPITAL</button>

                </a>
            </div>
            <div class="right-card1">
                <img src="/static/images/CareerPage/make.png" alt="hospital">
            </div>
        </div>
        <div class="shadow_color">
        </div>
    </div>

    <!-- Values section -->
    <section id="container">
        <h3>Our Values</h3>
        <div class="card-container">
            <div class="card">
                <img src="/static/images/CareerPage/handshake.png" alt="Handshake Icon">
                <h2>Send a message to us</h2>
                <p>
                    To be accountable for all our actions
                </p>
            </div>
            <div class="card">
                <img src="/static/images/CareerPage/collaborate.png" alt="Collaborate Icon">
                <h2>Collaboration</h2>
                <p>To achieve great things together with our users.</p>
            </div>
            <div class="card">
                <img src="/static/images/CareerPage/bulb-filled.png" alt="Innovation Icon">
                <h2>Impact & Innovation</h2>
                <p>To impact positive change to the society and environment</p>
            </div>
            <div class="card">
                <img src="/static/images/CareerPage/health-bold.png" alt="Health Icon">
                <h2>Health</h2>
                <p>To foster health, safety, and well-being of everyone</p>
            </div>
        </div>
    </section>

    <!-- Testimonial -->
    <section id="testimonial">
        <div class="testimonial-container">
            <div class="first-layer">
                <p>
                    What Our Customers Say About Us.
                </p>
            </div>
            <div class="second-layer">
                <div class="text">
                    <p>
                        Medlorix made finding and booking my hospital appointment so easy. I love the real-time
                        availability and customer reviews that helped me choose the right clinic. Highly recommend!
                    </p>
                </div>
                <div class="review">
                    <div class="review-img">
                        <img src="/static/images/CareerPage/Avatar.png" alt="">
                    </div>
                    <div class="review-star">
                        <h3>Mogaji Bolanle</h3>
                        <img src="/static/images/CareerPage/review-star.png" alt="">
                        <p>20 March, 2024</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-arrow">
                <img src="/static/images/CareerPage/review-arrow.png" alt="">
            </div>
        </div>

    </section>

    <!-- Subscribe Section -->
    <div id="subscribe">
      <div class="top-layer">
          <h2>Stay up to date on healthy living</h2>
          <p>
              Be the first to receive expert insights, practical advice, and
              exclusive content directly to your inbox.
          </p>
      </div>
      <div class="bottom-layer">
          <input type="email" id="emailInput" placeholder="Enter your email" />
          <button id="subscribeButton">SUBSCRIBE</button>
      </div>
      <p id="alertMessage"></p>
    </div>

    <!-- Footer Section -->
    <footer>
        <div class="footer">
    
          <div class="main-footer">
            <div class="logo-about">
              <a href="/"><img class="brand-logo" src="/static/images/Medlorix-logo.svg" alt="Brand Logo"></a>
              <p>
                simplifies healthcare by helping users find clinics, book appointments, and AI diagnosis. <br>All in one
                easy-to-use platform.
              </p>
              <div class="social-media">
                <a href=""><img src="/static/images/Icons/google.png" alt="Google"></a>
                <a href=""><img src="/static/images/Icons/facebook.png" alt="Facebook"></a>
                <a href=""><img src="/static/images/Icons/twitter.png" alt="Twitter"></a>
                <a href=""><img src="/static/images/Icons/instagram.png" alt="Instagram"></a>
              </div>
            </div>
          </div>
          <div class="firstlayer">
            <div class="company">
              <p><span>Company</span></p>
              <a href="/about">About us</a>
              <a href="/about">Our mission</a>
              <a href="/about">Our Team</a>
            </div>
            <div class="company">
              <p><span>Our Services</span></p>
              <a href="/clinicSearch">Clinic Search</a>
              <a href="/sign-up">AI-Based Diagnosis</a>
              <a href="/contact">Contact Us</a>
            </div>
            <div class="company">
              <p><span>Legal</span></p>
              <a href="/templates/terms.html">Privacy</a>
              <a href="/templates/terms.html">Terms</a>
              <a href="/templates/terms.html">Security</a>
            </div>
          </div>
        </div>
        <!-- Back to top arrow -->
        <button onclick="topFunction()" id="myBtn" title="Go to top">
          <img src="/static/images/Icons/up-arrow.svg" />
        </button>
        <div class="lastlayer">
          <p class="copyright">Copyright &copy; 2024. Medlorix. All rights reserved</p>
          <div>
            <a href="/templates/terms.html"><p>Terms and Conditions </p></a>
            <a href="/templates/terms.html"><p>Privacy Policy</p></a>
          </div>
        </div>
      </footer>
</body>

</html>