<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/FAVICON.png" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/clinicSearch.css" />
    <!-- JavaScript -->
    <script src="/static/js/index.js" defer></script>
    <script type="module" src="../bookAppointment.js" defer></script>
    <script src="/static/js/subcribe.js" defer></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("WesP-F72yRnUJFma5");
      })();
    </script>

    <title>Medlorix │ Clinic Search</title>
  </head>

  <body>
    <header>
      <a href="/"
        ><img
          class="brand-logo"
          src="/static/images/Medlorix-logo.svg"
          alt="Medlorix logo"
      /></a>
      <!-- Hamburger Icon -->
      <div class="hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <nav class="navigation">
        <a href="/">HOME</a>
        <!-- Drop down menu for services -->
        <div class="dropdown">
          <a href="#" class="dropbtn"
            >SERVICES
            <img
              class="dropdown-down"
              src="/static/images/Clinic Search Page/dropdownIcon.png"
              alt=""
            />
          </a>
          <div class="dropdown-content">
            <a href="/services" class="dropdown-item"
              >Our Services
              <span class="dropdown-icon">→</span>
            </a>
            <a href="/clinicSearch" class="dropdown-item"
              >Clinic Search
              <span class="dropdown-icon">→</span>
            </a>

            <!-- <a href="/src/bookAppointment.html" class="dropdown-item">See a Doctor
              <span class="dropdown-icon">→</span>
            </a> -->

            <a href="/sign-up" class="dropdown-item"
              >AI Diagnosis
              <span class="dropdown-icon">→</span>
            </a>

            <!-- <a href="/src/career.html" class="dropdown-item">Careers
              <span class="dropdown-icon">→</span>
            </a> -->
          </div>
        </div>
        <a href="/about">ABOUT US</a>
        <a href="/faq">FAQS</a>
        <a href="/contact">CONTACT</a>
      </nav>
      <!-- Green buttons -->
      <a href="/services">
        <button class="green">GET STARTED</button></a
      >
    </header>

    <!-- Hero Section -->
    <div id="hero">
      <div class="search">
        <h2>Search for a nearby Clinic</h2>
        <p>
          Easily find the nearest clinics across Africa by selecting your
          country, state, and local area. Our intuitive search tool helps you
          locate the best healthcare facilities and nearby bus stops for quick
          access.
        </p>
      </div>
      <div class="location">
        <div class="located-near">
          <p>Located Near:</p>
        </div>
        <div class="map-inputs">
          <div class="input-fields">
            <select
              type="search"
              placeholder="Enter your Country"
              id="country"
              name="country"
              onchange="loadStates()"
              class="custom-dropdown"
            >
              <option value="" selected>Enter your Country</option>
            </select>
            <!-- <div class="dropdown-container">
              <img src="/images/Icons/dropdown_icon.png" alt="dropdown" />
            </div> -->
          </div>
          <div class="input-fields">
            <select
              type="search"
              placeholder="Enter your State"
              id="state"
              name="state"
              onchange="loadCities()"
              class="custom-dropdown"
            >
              <option value="" selected>Enter your State</option>
            </select>
            <!-- <div class="dropdown-container">
              <img src="/images/Icons/dropdown_icon.png" alt="dropdown" />
            </div> -->
          </div>
          <div class="input-fields">
            <select
              type="search"
              placeholder="Enter your Local Government Area / Province"
              id="local-government"
              name="local_government"
              class="custom-dropdown"
            >
              <option value="" selected>Enter your City</option>
            </select>
            <!-- <div class="dropdown-container">
              <img src="/images/Icons/dropdown_icon.png" alt="dropdown" />
            </div> -->
          </div>
          <div class="input-fields">
            <input
              type="search"
              id="landmark"
              placeholder="Enter Nearest Bus Stop / Landmark"
            />
            <!-- <div class="dropdown-container">
              <img src="/images/Icons/dropdown_icon.png" alt="dropdown" />
            </div> -->
          </div>
        </div>
        <div>
          <!-- <button>SEARCH</button> -->

          <button class="book-button">SEARCH</button>
        </div>
      </div>

      <!-- search results -->
      <div id="loadingIndicator" style="display: none">Searching...</div>
      <div class="results">
        <p id="resultsCount">Results: (0)</p>
        <img src="/static/images/Clinic Search Page/caution-Icon.png" alt="" />
      </div>
      <div id="resultGrid" class="searched-container"></div>
    </div>

    <!-- Build Section -->
    <!-- <div id="build">
      <div class="build-container">
        <div class="left-card">
          <h2>Build the future of healthcare with us</h2>
          <p>
            Want to make an impact? Join us as we strive to provide the best
            healthcare experience to millions of people in Africa
          </p>
          <a href="/src/career.html"> <button>BECOME OUR PARTNER</button> </a>
        </div>
        <div class="right-card">
          <img
            src="/images/Clinic Search Page/shakehands.png"
            alt="shake hands"
          />
        </div>
      </div>
      <div class="shadow_color"></div>
    </div> -->

    <!-- Subscribe Section -->
    <div id="subscribe">
      <div class="top-layer">
        <h2>Stay up to date on healthy living</h2>
        <p>
          Be the first to receive expert insights, practical advice, and
          exclusive content directly to your inbox.
        </p>
      </div>
      <div class="bottom-layer">
        <input type="email" id="emailInput" placeholder="Enter your email" />
        <button id="subscribeButton">SUBSCRIBE</button>
      </div>
      <p id="alertMessage"></p>
    </div>

    <!-- Footer Section -->
    <footer>
      <div class="footer">
        <div class="main-footer">
          <div class="logo-about">
            <a href="/"
              ><img
                class="brand-logo"
                src="/static/images/Medlorix-logo.svg"
                alt="Brand Logo"
            /></a>
            <p>
              simplifies healthcare by helping users find clinics, book
              appointments, and AI diagnosis. <br />All in one easy-to-use
              platform.
            </p>
            <div class="social-media">
              <a href=""><img src="/static/images/Icons/google.png" alt="Google" /></a>
              <a href=""
                ><img src="/static/images/Icons/facebook.png" alt="Facebook"
              /></a>
              <a href=""
                ><img src="/static/images/Icons/twitter.png" alt="Twitter"
              /></a>
              <a href=""
                ><img src="/static/images/Icons/instagram.png" alt="Instagram"
              /></a>
            </div>
          </div>
        </div>
        <div class="firstlayer">
          <div class="company">
            <p><span>Company</span></p>
            <a href="/about">About us</a>
            <a href="/about">Our mission</a>
            <a href="/about">Our Team</a>
          </div>
          <div class="company">
            <p><span>Our Services</span></p>
            <a href="/clinicSearch">Clinic Search</a>
            <a href="/sign-up">AI-Based Diagnosis</a>
            <a href="/contact">Contact Us</a>
          </div>
          <div class="company">
            <p><span>Legal</span></p>
            <a href="">Privacy</a>
            <a href="">Terms</a>
            <a href="">Security</a>
          </div>
        </div>
      </div>
      <!-- Back to top arrow -->
      <button onclick="topFunction()" id="myBtn" title="Go to top">
        <img src="/static/images/Icons/up-arrow.svg" />
      </button>
      <div class="lastlayer">
        <p class="copyright">
          Copyright &copy; 2024. Medlorix. All rights reserved
        </p>
        <div>
          <p>Terms and Conditions </p>
          <p>Privacy Policy</p>
        </div>
      </div>
    </footer>
    <!-- Include Axios for making HTTP requests -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Link to your JavaScript file -->
    <script type="module" src="/static/js/hospitalSearch.js"></script>
  </body>
</html>
