@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

h2 {
  font-family: "Lora", serif;
  font-size: 40px;
}

/* Header Styling */
header {
  padding: 0px 100px;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-size: 14px;
  color: #5a5555;
  font-weight: 600;
}
nav a:hover {
  color: #3325b2;
}

.green {
  width: 150px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
  background-color: #44c853;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
}
.green:hover {
  background-color: #ffffff;
  border: 2px solid #44c853;
  color: #44c853;
  cursor: pointer;
}

/* Services Dropdown Menu Styling */
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropdown-down.rotate {
  transform: rotate(180deg);
}
.dropdown-icon,
.dropdown-down {
  width: 10px;
  margin-left: 5px;
}

.dropbtn {
  display: flex;
  align-items: center;
}

/* Dropdown content hidden by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  flex-direction: row;
}

.dropdown-content a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #726c6c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content.show {
  display: block;
}

/* hero section */
.appointment-section {
  position: relative;
  height: 374px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
}

.appointment-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.appointment-section .background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.appointment-section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.appointment-section .content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #44c853;
}

.appointment-section .content p {
  font-size: 18px;
  margin-bottom: 20px;
  width: 889px;
  margin: 0 auto;
  color: #ffffff;
  line-height: 21.6px;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #150f49ba;
  z-index: 1;
}

/* hospital details section */

.details {
  font-family: "Arial", sans-serif;
  background-color: #fafafa;
  padding: 20px;
}

.hospital-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1245px;
  padding: 24px;
  margin: 30px 92px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  gap: 10px;
  color: #898384;
  font-weight: 400;
  font-size: 18px;
}

.hospital-details div {
  display: flex;
}

.hospital-details img {
  width: 15px;
}

#hospital-name {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 600;
}

#hospital-type {
  color: #9f9c9c;
  line-height: 21.6px;
  /* font-weight: 400; */

  text-align: left;
}

.location img,
#direction-logo {
  margin-right: 8px;
}

.hospital-details .edit {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: #e0f6e2;
  color: #44c853;
  border-radius: 20px;
  width: 93px;
  height: 41px;
  border: none;
  text-align: center;
  line-height: 41px;
}

#directions {
  color: #5e51db;
  cursor: pointer;
}
#direction-logo {
  width: 40px;
  margin-left: 20px;
}

.hospital-details p span {
  color: #35a836;
}

#rating {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.hospital-details .column {
  display: flex;
  flex-direction: column;
}

/* appointment details */

.appointment-form {
  max-width: 1440px;
  /* margin: 50px auto; */
  margin: 30px 92px;
  padding: 20px;
  background-color: #ffffff;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); */
}

.appointment-form h2,
.appointment-form h3 {
  color: #333;
  margin-bottom: 10px;
  font-size: 24px;
}

.appointment-form p {
  color: #726c6c;
  margin-bottom: 20px;
  font-size: 24px;
}
.doc-and-spacialty,
.patient-info,
.contact-info,
.appointment-info,
.action-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}
#select-specialty,
#select-doctor {
  max-width: 463px;
  border-radius: 18px;
}
.appointment-form .small-letters {
  font-size: 12px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.appointment-form #doctor-info {
  max-width: 1043px;
  gap: 50px;
}
#doctor-info select {
  padding: 27px auto;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  /* background-color: #e3e3e3; */
  font-size: 16px;
  color: #1e1e1e;
}
#doctor,
#specialty {
  border-radius: 18px;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="date"]:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #666;
}

.radio-group {
  display: flex;
  gap: 20px;
}

.radio-group label {
  font-weight: normal;
  color: #555;
}

.form-group textarea {
  resize: none;
  width: 490px;
  height: 119px;
}
#reason-for-diagnosis {
  margin-left: 140px;
}
.doc-and-specialty #doctor,
.doc-and-specialty #specialty {
  background-color: #e3e3e3;
}
.custom-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  padding-right: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;

  font-size: 16px;
  color: #333;
  background-image: url("/images/Icons/dropdown_icon.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

.custom-dropdown:focus {
  outline: none;
  border-color: #666;
}
hr {
  color: #cac4d0;
}
.form-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  margin-top: 50px;
}
.action-buttons p {
  cursor: pointer;
  font-size: 18px;
}
.action-buttons #cancel {
  margin-top: 22px;
}
.action-buttons #book-appointment {
  padding: 15px;
  background-color: #3325b2;
  border-radius: 18px;
  color: #fafafa;
}

/* see a doctor section */
.doctor-section {
  position: relative;
  max-width: 1235px;
  height: 469px;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto;
}

.doctor-section .background-image {
  width: 1235px;
  height: 100%;
  object-fit: cover;
  display: block;
}

.doctor-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to left, rgba(21, 15, 73, 0) 0%, #150f49 90%);
  opacity: 0.9;
}

.doctor-section .content {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  /* text-align: center; */
  padding: 20px;
}

.doctor-section .content .heading {
  color: #44c853;
  margin-top: 180px;
  font-size: 48px;
  /* margin-bottom: 20px; */
}

.doctor-section .content p {
  font-size: 28px;
  padding-bottom: 50px;
  /* padding-top: 5px; */
  max-width: 468px;
  line-height: 33.6px;
  color: #fafafa;
}

.doctor-section .button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #44c853;
  color: #fafafa;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
}

/* Footer styling */
.footer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.firstlayer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
.logo-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
  padding-right: 150px;
}
.logo-about p {
  font-size: 13px;
  color: #858088;
  font-weight: 400;
  width: 150px;
}
.social-media {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-block: 10px 20px;
}
.social-media img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.company {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.company p {
  font-size: 20px;
  font-weight: 700;
  color: #5d5561;
  margin-bottom: 10px;
}
.company a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #858088;
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
}
.company a:hover {
  color: #44c853;
}

.lastlayer {
  background-color: #150f49;
  padding: 40px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyright {
  font-size: 15px;
  font-weight: 700;
  color: #fffcfc;
}
.terms {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.terms p {
  font-size: 15px;
  font-weight: 700;
  color: #fffcfc;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #44c853;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

/* Media Queries */
@media (max-width: 992px) {
  /* hospital details */
  .hospital-details {
    margin: 30px 42px;
    font-size: 14px;
  }

  .hospital-details img {
    width: 15px;
  }

  #hospital-name {
    font-size: 20px;
  }

  .hospital-details .edit {
    width: 83px;
  }

  #direction-logo {
    width: 35px;
  }

  #rating {
    font-size: 18px;
  }

  /* patient information */
  .appointment-form {
    margin: 30px 42px;
  }
  #user-address,
  #user-country {
    margin-top: -60px;
  }
  #user-state {
    margin-top: 20px;
  }
  #reason-for-diagnosis {
    margin-left: 240px;
  }
  /* see a doctor section */

  .doctor-section {
    margin: 30px 42px;
  }
  .doctor-section .content {
    left: 30%;
  }
}

@media (max-width: 768px) {
  /* header */
  header {
    padding: 0px 20px;
    height: 100px;
  }
  .brand-logo {
    width: 80px;
    height: 30px;
  }
  nav {
    width: 450px;
  }
  nav a {
    font-size: 12px;
  }
  .green {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
  /* footer */
  .footer {
    padding-top: 40px;
  }
  .firstlayer {
    padding: 0px 20px;
  }
  .logo-about {
    gap: 10px;
    padding-bottom: 30px;
    padding-right: 50px;
  }
  .logo-about p {
    font-size: 12px;
    width: 150px;
  }
  .social-media {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-block: 10px 20px;
  }
  .social-media img {
    width: 30px;
    height: 30px;
  }
  .back-to-top a {
    gap: 10px;
  }
  .back-to-top img {
    width: 15px;
  }
  .back-to-top span {
    font-size: 12px;
  }
  .company p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .company a {
    font-size: 12px;
  }
  .lastlayer {
    padding: 30px 20px;
  }
  .copyright {
    font-size: 10px;
  }
  .terms {
    gap: 10px;
  }
  .terms p {
    font-size: 10px;
  }
}
/* X-Small devices (less than 576px) */
@media (max-width: 576px) {
  /* Navigation */
  header {
    width: 90%;
    margin: 0 auto;
  }
  .head {
    margin-left: -20px;
  }
  .hamburger-menu {
    display: block;
    margin-top: 10px;
  }

  .hamburger-menu .bar {
    background-color: #3325b2;
  }

  .navigation {
    display: none;
    position: fixed;
    top: 0;
    left: -100%; /* Hide off-screen initially */
    width: 100%;
    background-color: #efedff;
    gap: 10px;
    transition: left 0.4s;
    flex-direction: column;
    padding: 30px;
    z-index: 9;
  }

  nav a {
    color: #3325b2;
  }

  .navigation.show {
    display: flex;
    flex-direction: column;
    left: 0;
  }
  .green {
    display: none;
  }
}
