/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ================ General Selector Section ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

h2 {
    font-family: "Lora", serif;
    font-size: 40px;
    margin-top: 0;
}

h3 {
    color: #2D9A39;
    font-size: 28px;
    margin-bottom: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
}

p {
    color: #898384;
}

a {
    text-decoration: none;
    color: white;
}



/*==================== Header section ===================*/
header {
    padding: 0px 100px;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    width: 150px;
    height: 30px;
}

nav {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    font-size: 14px;
    color: #5A5555;
    font-weight: 600;
}

.green {
    width: 150px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    background-color: #44C853;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #002366;
    margin: 5px 0;
    transition: 0.4s;
}

/* Header Styling */
header {
    padding: 0px 100px;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    font-size: 14px;
    color: #5A5555;
    font-weight: 600;
}

.green {
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 10px;
    background-color: #44C853;
    border: none;
    color: white;
    border-radius: 32px;
}

.green:hover {
    background-color: #077a43;
}

/* Services Dropdown Menu Styling */
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropdown-down.rotate {
    transform: rotate(180deg);
}

.dropdown-icon,
.dropdown-down {
    width: 10px;
    margin-left: 5px;
}

.dropbtn {
    display: flex;
    align-items: center;
}

/* Dropdown content hidden by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    flex-direction: row;
}

.dropdown-content a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #726C6C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color:#3325B2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content.show {
    display: block;
}
.nav-active{
    color:#3325B2;
}

/* ================== ChatBot Styling ==================== */
.chatbot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    align-items: center;
}

.chatbot p {
    font-size: 24px;
    font-weight: 400;
}

.chat-card {
    background-color: #F1F1F1;
    border-radius: 32px;
    padding: 20px;
    max-width: 1100px;
    height: 600px;
    margin-block: 3rem;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.chatbot-description {
    margin-top: 10rem;
    height: 181px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatbot-description h4 {
    font-size: 48px;
    font-weight: 700;
    color: #3325B2;
}

.chatbot-description p {
    font-size: 24px;
    font-weight: 400;
}

.chatbot-description-2 {
    width: 686px;
    height: 66px;
    margin-top: 2rem;
}

.chatbot-description-2 p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}


/* Input Area */
.chatbot-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding: 10px 40px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.chatbot-text input {
    width: 100%;
    height: 50px;
    margin-top: 8rem;
    border-radius: 20px;
    border: none;
    padding-left: 30px;
    padding-right: 50px;
    background-color: #FAFAFA;
    color: #898384;
    font-size: 18px;
    font-weight: 400;
}


.box-icon {
    position: absolute;
    right: 20px;
    top: 85%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.chatbot-text1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 25px;
    padding: 10px 10px;
    max-width: 1180px;
}
/* Media Queries For Hamburger and others*/
/* X-large devices (large desktops, less than 1400px*/
@media(max-width:1400px) {

}
/* Large devices (desktops, less than 1200px) */
@media(max-width:1200px) {

}
/* Medium devices (tablet, less than 992px)*/
@media(max-width:992px) {
    header{
        padding: 0px 50px;
        height: 100px;
    }
    .brand-logo{
        width: 100px;
        height: 30px;
    }
    nav{
        width: 500px;
    }
    nav a{
        font-size: 12px;
    }
    .green{
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
    /* ================== ChatBot Styling ==================== */

.chatbot h3 {
    font-size: 25px;
}
.chatbot p {
    font-size: 20px;
}

.chat-card {
    padding: 20px;
    height: 500px;
    margin-block: 3rem;
    position: relative;
}

.chatbot-text1 {
    width: 550px;
    text-align: center;
}

.chatbot-description {
    margin-top: 3rem;
    height: 181px;
}

.chatbot-description h4 {
    font-size: 38px;
}

.chatbot-description p {
    font-size: 22px;
}

.chatbot-description-2 {
    width: 586px;
    padding-inline: 50px;
    height: 66px;
    margin-top: 2rem;
}

.chatbot-description-2 p {
    font-size: 17px;
}


/* Input Area */
.chatbot-text {
    margin-bottom: 25px;
    padding: 10px 40px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.chatbot-text input {
    width: 100%;
    height: 50px;
    margin-top: 8rem;
    padding-left: 30px;
    padding-right: 50px;
    font-size: 15px;
}


.box-icon {
    position: absolute;
    right: 20px;
    top: 85%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

}
/* Small devices (landscape phones, less than 768px)*/
@media(max-width:768px) {
    header{
        padding: 0px 20px;
        height: 100px;
      }
      .brand-logo{
        width: 80px;
        height: 30px;
      }
      nav{
        width: 450px;
      }
      nav a{
        font-size: 12px;
      }
      .green{
        width: 100px;
        height: 30px;
        font-size: 10px;
      }
    /* ================== ChatBot Styling ==================== */

.chatbot h3 {
    font-size: 22px;
}
.chatbot p {
    font-size: 18px;
}

.chat-card {
    padding: 20px;
    height: 450px;
    margin-block: 2rem;
    position: relative;
}
.chatbot-text1 {
    width: 450px;
    text-align: center;
}

.chatbot-description {
    margin-top: 3rem;
    height: 181px;
}

.chatbot-description h4 {
    font-size: 28px;
}

.chatbot-description p {
    font-size: 20px;
}

.chatbot-description-2 {
    width: 480px;
    padding-inline: 20px;
    height: 66px;
    margin-top: 2rem;
}

.chatbot-description-2 p {
    font-size: 15px;
}


/* Input Area */
.chatbot-text {
    margin-bottom: 25px;
    padding: 10px 40px;
}

.chatbot-text input {
    width: 100%;
    height: 50px;
    margin-top: 7rem;
    padding-left: 30px;
    padding-right: 50px;
    font-size: 13px;
}


.box-icon {
    position: absolute;
    right: 20px;
    top: 85%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}
}
/* X-Small devices (less than 576px) */
@media(max-width:576px) {

    /* Navigation */
    header {
        width: 90%;
        margin: 0 auto;
        position: relative;
    }

    .head {
        margin-left: -20px;
    }

    .hamburger-menu {
        display: block;
        margin-top: 10px;
        position: absolute;
    }

    .hamburger-menu .bar {
        background-color: #3325B2;
    }

    .navigation {
        display: none;
        position: absolute;
        top: 0;
        left: -100%;
        /* Hide off-screen initially */
        width: 100%;
        background-color: #EFEDFF;
        gap: 10px;
        transition: left 0.4s;
        flex-direction: column;
        padding: 30px;
        z-index: 9;
    }

    nav a {
        color: #3325B2;
    }

    .navigation.show {
        display: flex;
        flex-direction: column;
        left: 0;
    }

    .green {
        display: none;
    }
     /* ================== ChatBot Styling ==================== */

    .chatbot h3 {
        font-size: 18px;
    }
    .chatbot p {
        font-size: 15px;
    }

    .chat-card {
        padding: 0px;
        height: 400px;
        margin-block: 2rem;
        position: relative;
        width: 300px;
    }

    .chatbot-text1 {
        width: 300px;
        text-align: center;
    }

    .chatbot-description {
        margin-top: 2rem;
        height: 181px;
    }

    .chatbot-description h4 {
        font-size: 20px;
    }

    .chatbot-description p {
        font-size: 17px;
    }

    .chatbot-description-2 {
        width: 290px;
        padding-inline: 10px;
        height: 66px;
        margin-top: 2rem;
    }

    .chatbot-description-2 p {
        font-size: 13px;
    }


    /* Input Area */
    .chatbot-text {
        margin-bottom: 25px;
        padding: 10px 10px;
        align-items: center;
    }
    
    .chatbot-text input {
        width: 280px;
        height: 50px;
        margin-top: 6rem;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
    }
    .box-icon {
        position: absolute;
        right: 10px;
        top: 85%;
        transform: translateY(-50%);
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

}
