@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Work Sans", sans-serif;
  /* font-family: "Lora", serif; */
}

h2{
  font-family: "Lora", serif;
  font-size: 40px;
}

/* Header Styling */
header{
  padding: 0px 100px;
  height: 100px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav{
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav a{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-size: 14px;
  color: #5A5555;
  font-weight: 600;
}
nav a:hover{
  color: #3325B2;
}
.dropdown{
  width: 10px;
}
.green{
  width: 150px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  padding:10px 0;
  background-color: #44C853;
  color: #FFFFFF;
  border: none;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
}
.green:hover{
  background-color: #FFFFFF;
  border: 2px solid #44C853;
  color: #44C853;
  cursor: pointer;
}

/* Hero styling */
#hero{
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.search{
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 10px;
  padding-block: 50px;
}
.search span{
  font-size: 25px;
  font-weight: 700;
  color: #2D9A39;
}
.search h2{
  color: #44C853;
}
.search p{
  font-size: 20px;
  color: #757575;
}
.location{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.located-near{
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  color: #726C6C;
}
.map-inputs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}
.map-inputs input{
  width: 350px;
  height: 50px;
  border: none;
  background-color: #E3E3E3;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.map-inputs input::placeholder{
  color: #726C6C;
  font-size: 15px;
  font-weight: 400;
}
.map-inputs img{
  width: 15px;
}
.input-fields{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown-container{
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E3E3E3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.results{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding-top: 50px;
}
.results p{
  font-size: 20px;
  font-weight: 600;
  color: #726C6C;
}
.results img{
  width: 15px;
}
.searched-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}
.searched-cardpreview{
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #CCCCCC;
}
.card-firstlayer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hospital-name-card{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hospital-name p{
  font-size: 15px;
  font-weight: 400;
  color: #898384;
  text-align: left;
}
.rating{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  text-align: center;
}
.rating p{
  font-size: 15px;
  font-weight: 600;
  color: #9F9C9C;
}
.rating div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.star{
  width: 15px;
}
.direction{
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}
.direction img{
  width: 35px;
}
.direction p{
  font-size: 12px;
  font-weight: 400;
  color: #5E51DB;
}
.card-secondlayer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.card-secondlayer p{
  font-size: 12px;
  font-weight: 600;
  color: #9F9C9C;
}
.card-secondlayer img{
  width: 10px;
}
.card-secondlayer h3{
  font-size: 12px;
  font-weight: 600;
  color: #898384;
}
.card-thirdlayer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.no-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.phone-no{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.phone-no img{
  width: 15px;
}
.phone-no p{
  font-size: 12px;
  font-weight: 600;
  color: #898384;
}
.available{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  text-align: left;
}
.available span{
  font-size: 12px;
  font-weight: 400;
  color: #00CC47;
}
.available p{
  font-size: 12px;
  font-weight: 400;
  color: #9F9C9C;
}
.book-appointment button{
  height: 40px;
  width: 130px;
  font-size: 10px;
  font-weight: 600;
  background-color: #3325B2;
  color: #FAFAFA;
  border: none;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
.book-appointment button:hover{
  background-color: #FFFFFF;
  border: 2px solid #3325B2;
  color: #3325B2;
  cursor: pointer;
}

/* Build Styling */
#build{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}
.build-container h2{
  color: #FAFAFA;
}
.build-container{
  width: 900px;
  height: 400px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #150F49;
  border-radius: 20px;
}
.left-card{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.left-card h2{
  font-family: "Lora", serif;
  font-size: 40px;
  font-weight: 700;
  width: 400px;
  color: #FAFAFA;
}
.left-card p{
  font-size: 20px;
  font-weight: 400;
  width: 350px;
  color: #FAFAFA;
}
.left-card button{
  width: 150px;
  height: 40px;
  background-color: #44C853;
  color: #FAFAFA;
  font-size: 10px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
.left-card button:hover{
  background-color: #FFFFFF;
  border: 2px solid #44C853;
  color: #44C853;
  cursor: pointer;
}
.right-card img{
  width: 400px;
}
.shadow_color{
  width: 800px;
  height: 25px;
  background-color: #DFDCF8;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* subscribe styling */
#subscribe{
  background-color: #150F49;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.top-layer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.top-layer h2{
  font-size: 40px;
  font-weight: 700;
  color: #44C853;
}
.top-layer p{
  width: 500px;
  color: #FEFCFF;
  font-size: 15px;
  font-weight: 400;
}.bottom-layer{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.bottom-layer input{
  width: 400px;
  height: 50px;
  padding-left: 20px;
  border-radius: 20px;
}
.bottom-layer input::placeholder{
  color: #858088;
  font-size: 12px;
  font-weight: 400;
}
.bottom-layer button{
  width: 100px;
  height: 50px;
  background-color: #44C853;
  color: #FAFAFA;
  font-size: 10px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
.bottom-layer button:hover{
  background-color: #FFFFFF;
  border: 2px solid #44C853;
  color: #44C853;
  cursor: pointer;
}

/* footer styling */
.footer{
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.firstlayer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
.logo-about{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
  padding-right: 150px;
}
.logo-about p{
  font-size: 13px;
  color: #858088;
  font-weight: 400;
  width: 150px;
}
.social-media{
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-block: 10px 20px;
}
.social-media img{
  width: 30px;
  height: 30px;
  background-color: #3325B2;
  padding: 5px;
  border-radius: 20px;
}
.back-to-top{
  transition: 0.5s;
}
.back-to-top:hover{
  border: 1px solid #44C853;
}
.back-to-top a{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: left;
  align-items: center;
  text-decoration: none;
}
.back-to-top img{
  width: 20px;
}
.back-to-top span{
  text-decoration: none;
  color: #44C853;
  font-size: 15px;
  font-weight: 500;
}
.company{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.company p{
  font-size: 20px;
  font-weight: 700;
  color:#5D5561;
  margin-bottom: 10px;
}
.company a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #858088;
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
}
.company a:hover{
  color: #44C853;
}

.lastlayer{
  background-color: #150F49;
  padding: 40px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyright{
  font-size: 15px;
  font-weight: 700;
  color: #FFFCFC;
}
.terms{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.terms p{
  font-size: 15px;
  font-weight: 700;
  color: #FFFCFC;
}


/*Responsiveness*/
/* X-large devices (large desktops, less than 1400px*/
@media(max-width: 1400px){

}
/* Large devices (desktops, less than 1200px) */
@media(max-width: 1200px){

}
/* Medium devices (tablet, less than 992px)*/
@media(max-width: 992px){
  header{
    padding: 0px 50px;
    height: 100px;
  }
  .brand-logo{
    width: 100px;
    height: 30px;
  }
  nav{
    width: 500px;
  }
  nav a{
    font-size: 12px;
  }
  .green{
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
  #hero{
    padding: 20px 0px;
    gap: 10px;
  }
  .search{
    width: 500px;
    padding-block: 40px;
  }
  .search span{
    font-size: 20px;
  }
  .search h2{
    font-size: 30px;
  }
  .search p{
    font-size: 15px;
  }
  .location{
    gap: 30px;
  }
  .located-near{
    font-size: 29px;
  }
  .map-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  .map-inputs input{
    width: 250px;
    height: 40px;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .map-inputs input::placeholder{
    font-size: 13px;
  }
  .map-inputs img{
    width: 10px;
  }
  .dropdown-container{
    width: 40px;
    height: 40px;
    margin-left: -1px;
  }
  .searched-container{
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  .searched-cardpreview{
    padding: 15px;
    gap: 10px;
    width: 300px;
  }
  .hospital-name-card{
    gap: 5px;
  }
  .hospital-name p{
    font-size: 13px;
  }
  .rating{
    gap: 7px;
  }
  .rating p{
    font-size: 13px;
  }
  .star{
    width: 13px;
  }
  .direction{
    gap: 7px;
  }
  .direction img{
    width: 35px;
  }
  .direction p{
    font-size: 10px;
  }
  .card-secondlayer{
    gap: 7px;
  }
  .card-secondlayer p{
    font-size: 10px;
  }
  .card-secondlayer img{
    width: 10px;
  }
  .card-secondlayer h3{
    font-size: 10px;
  }
  .no-card{
    gap: 15px;
  }
  .phone-no{
    gap: 7px;
  }
  .phone-no img{
    width: 15px;
  }
  .phone-no p{
    font-size: 10px;
  }
  .available{
    gap: 10px;
  }
  .available span{
    font-size: 10px;
  }
  .available p{
    font-size: 10px;
  }
  .book-appointment button{
    height: 30px;
    width: 100px;
    font-size: 8px;
  }
  #build{
    padding: 50px 0px;
  }
  .build-container{
    width: 700px;
    height: 300px;
    padding: 20px;
  }
  .left-card{
    gap: 20px;
  }
  .left-card h2{
    font-size: 25px;
    width: 250px;
  }
  .left-card p{
    font-size: 13px;
    width: 250px;
  }
  .left-card button{
    width: 150px;
    height: 40px;
    font-size: 10px;
  }
  .right-card img{
    width: 300px;
  }
  .shadow_color{
    width: 600px;
    height: 20px;
  }
  #subscribe{
    padding: 40px 0;
    gap: 30px;
  }
  .top-layer{
    gap: 10px;
  }
  .top-layer h2{
    font-size: 30px;
  }
  .top-layer p{
    width: 500px;
    font-size: 15px;
  }.bottom-layer{
    gap: 10px;
  }
  .bottom-layer input{
    width: 300px;
    height: 40px;
    padding-left: 20px;
  }
  .bottom-layer input::placeholder{
    font-size: 12px;
  }
  .bottom-layer button{
    width: 80px;
    height: 40px;
    font-size: 10px;
  }
  .footer{
    padding-top: 60px;
  }
  .firstlayer{
    padding: 0px 50px;
  }
  .logo-about{
    gap: 10px;
    padding-bottom: 30px;
    padding-right: 100px;
  }
  .logo-about p{
    font-size: 12px;
    width: 150px;
  }
  .social-media{
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-block: 10px 20px;
  }
  .social-media img{
    width: 30px;
    height: 30px;
  }
  .back-to-top a{
    gap: 10px;
  }
  .back-to-top img{
    width: 15px;
  }
  .back-to-top span{
    font-size: 12px;
  }
  .company p{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .company a{
    font-size: 12px;
  }
  .lastlayer{
    padding: 40px 50px;
  }
  .copyright{
    font-size: 12px;
  }
  .terms{
    gap: 15px;
  }
  .terms p{
    font-size: 12px;
  }
  
}
/* Small devices (landscape phones, less than 768px)*/
@media(max-width: 768px){
  header{
    padding: 0px 20px;
    height: 100px;
  }
  .brand-logo{
    width: 80px;
    height: 30px;
  }
  nav{
    width: 450px;
  }
  nav a{
    font-size: 12px;
  }
  .green{
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
  #hero{
    padding: 10px 0px;
    gap: 10px;
  }
  .search{
    width: 400px;
    padding-block: 40px;
  }
  .search span{
    font-size: 17px;
  }
  .search h2{
    font-size:25px;
  }
  .search p{
    font-size: 13px;
  }
  .location{
    gap: 30px;
  }
  .located-near{
    font-size: 20px;
  }
  .map-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
  }
  .map-inputs input{
    width: 200px;
    height: 40px;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .map-inputs input::placeholder{
    font-size: 13px;
  }
  .map-inputs img{
    width: 10px;
  }
  .dropdown-container{
    width: 40px;
    height: 40px;
    margin-left: -1px;
  }
  .searched-container{
    grid-template-columns: 1fr;
    gap: 30px;
  }
  #build{
    padding: 50px 0px;
  }
  .build-container{
    width: 500px;
    height: 300px;
    padding: 20px;
  }
  .left-card{
    gap: 20px;
  }
  .left-card h2{
    font-size: 20px;
    width: 200px;
  }
  .left-card p{
    font-size: 13px;
    width: 200px;
  }
  .left-card button{
    width: 140px;
    height: 40px;
    font-size: 10px;
  }
  .right-card img{
    width: 200px;
  }
  .shadow_color{
    width: 400px;
    height: 20px;
  }
  #subscribe{
    padding: 40px 0;
    gap: 30px;
  }
  .top-layer{
    gap: 10px;
  }
  .top-layer h2{
    font-size: 20px;
  }
  .top-layer p{
    width: 400px;
    font-size: 13px;
  }.bottom-layer{
    gap: 10px;
  }
  .bottom-layer input{
    width: 300px;
    height: 40px;
    padding-left: 20px;
  }
  .bottom-layer input::placeholder{
    font-size: 12px;
  }
  .bottom-layer button{
    width: 80px;
    height: 40px;
    font-size: 10px;
  }
  .footer{
    padding-top: 40px;
  }
  .firstlayer{
    padding: 0px 20px;
  }
  .logo-about{
    gap: 10px;
    padding-bottom: 30px;
    padding-right: 50px;
  }
  .logo-about p{
    font-size: 12px;
    width: 150px;
  }
  .social-media{
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-block: 10px 20px;
  }
  .social-media img{
    width: 30px;
    height: 30px;
  }
  .back-to-top a{
    gap: 10px;
  }
  .back-to-top img{
    width: 15px;
  }
  .back-to-top span{
    font-size: 12px;
  }
  .company p{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .company a{
    font-size: 12px;
  }
  .lastlayer{
    padding: 30px 20px;
  }
  .copyright{
    font-size: 10px;
  }
  .terms{
    gap: 10px;
  }
  .terms p{
    font-size: 10px;
  }
}

/* X-small devices (potrait phones, less than 576px) */
@media (max-width: 576px){
  header{
    padding: 0px 10px;
    height: 60px;
  }
  .brand-logo{
    width: 50px;
    height: 30px;
  }
  nav{
    width: 200px;
  }
  nav a{
    font-size: 8px;
    gap: 4px;
  }
  .dropdown{
    width: 7px;
  }
  .green{
    width: 80px;
    height: 30px;
    font-size: 8px;
  }
  #hero{
    padding: 10px 0px;
    gap: 10px;
  }
  .search{
    width: 250px;
    padding-block: 30px;
  }
  .search span{
    font-size: 13px;
  }
  .search h2{
    font-size:18px;
  }
  .search p{
    font-size: 10px;
  }
  .location{
    gap: 30px;
  }
  .located-near{
    font-size: 15px;
  }
  .map-inputs{
    row-gap: 10px;
    column-gap: 10px;
  }
  .map-inputs input{
    width: 100px;
    height: 30px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .map-inputs input::placeholder{
    font-size: 8px;
  }
  .map-inputs img{
    width: 8px;
  }
  .dropdown-container{
    width: 30px;
    height: 30px;
    margin-left: -1px;
  }
  #build{
    padding: 40px 0px;
  }
  .build-container{
    width: 300px;
    height: 200px;
    padding: 10px;
  }
  .left-card{
    gap: 15px;
  }
  .left-card h2{
    font-size: 13px;
    width: 120px;
  }
  .left-card p{
    font-size: 10px;
    width: 120px;
  }
  .left-card button{
    width: 120px;
    height: 30px;
    font-size: 9px;
  }
  .right-card img{
    width: 140px;
    height: 120px;
  }
  .shadow_color{
    width: 250px;
    height: 15px;
  }
  #subscribe{
    padding: 40px 0;
    gap: 20px;
  }
  .top-layer{
    gap: 10px;
  }
  .top-layer h2{
    font-size: 15px;
  }
  .top-layer p{
    width: 300px;
    font-size: 10px;
  }.bottom-layer{
    gap: 10px;
  }
  .bottom-layer input{
    width: 200px;
    height: 40px;
    padding-left: 20px;
  }
  .bottom-layer input::placeholder{
    font-size: 10px;
  }
  .bottom-layer button{
    width: 70px;
    height: 35px;
    font-size: 10px;
  }
  .footer{
    padding-top: 20px;
  }
  .firstlayer{
    padding: 0px 10px;
  }
  .logo-about{
    gap: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .logo-about p{
    font-size: 9px;
    width: 100px;
  }
  .social-media{
    gap: 7px;
    margin-block: 0px;
  }
  .social-media img{
    width: 22px;
    height: 22px;
  }
  .back-to-top a{
    gap: 5px;
  }
  .back-to-top img{
    width: 15px;
  }
  .back-to-top span{
    font-size: 10px;
  }
  .company p{
    font-size: 10px;
    margin-bottom: 5px;
  }
  .company a{
    font-size: 8px;
    margin-bottom: 5px;
  }
  .lastlayer{
    padding: 20px 10px;
  }
  .copyright{
    font-size: 8px;
  }
  .terms{
    gap: 5px;
  }
  .terms p{
    font-size: 8px;
  }
}