/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Base Styling */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
}

h2{
  font-family: "Lora", serif;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
}

h3{
  color: #44C853;
  font-size: 28px;
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

p{
  color: #898384;
}
a{
  text-decoration: none;
  color: white;
}
/* Hamburger Menu */
.hamburger-menu {
  display: none;  
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #002366;
  margin: 5px 0;
}

/* Header Styling */
header{
    padding: 0px 100px;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
 nav{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  nav a{
    text-decoration: none;
    font-size: 14px;
    color: #5A5555;
    font-weight: 600;
}
  .green{
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    padding:10px 10px;
    background-color: #44C853;
    border: none;
    color:white;
    border-radius: 32px;
  }
  .green:hover {
    background-color: #077a43;
  } 
/* Services Dropdown Menu Styling */
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropdown-down.rotate {
  transform: rotate(180deg);
}
.dropdown-icon, .dropdown-down{
  width: 10px;
  margin-left: 5px;
}

.dropbtn {
  display: flex;
  align-items: center;
}

/* Dropdown content hidden by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  flex-direction: row;
}

.dropdown-content a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #726C6C;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; 
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:#3325B2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

 .dropdown-content.show {
  display: block;
}


.nav-active{
    color:#3325B2;
}

/* Main */
.main h4{
   font-family: "Plus Jakarta Sans", sans-serif;
   font-weight: 700;
   color:#2D9A39;
   font-size: 24px;
}
.main h2{
    font-family: "Lora", serif;
    font-size: 40px;
    font-weight: 700;    
    color:#1D1564;
    /* margin-top: 10px; */
    /* margin-bottom: 15px; */
}
.main p{
    color:#898384;
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    margin-bottom: 10px;
}

.main h3{
    font-family: "Plus Jarkata Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:#898384;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
    background-color: #F6F5FF;
}


/* Form */
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 50px;
    gap:20px;
    /* background-color: #F6F5FF; */
}
input{
    width: 350px;
    height: 72px;
    padding:10px 24px;
    border: none;
    border-radius: 12px;
    margin: 30px;
    margin-right: 20px;
}

input::placeholder{
    color: #858088;
    font-size: 14px;
    font-weight: 400;
}
textarea{
    width: 400px;
    height: 150px;
    padding:15px 24px;
    border: none;
    border-radius: 12px;
    margin: 10px;
    margin-right: 20px;
    
}
textarea::placeholder{
    color: #858088;
    font-size: 14px;
    font-weight: 400; 
}



/* Info */
.info h3{
    font-family: "Plus Jarkata Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:#898384;
}
.info p{
    font-family: "Plus Jarkata Sans", sans-serif;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px; 
}

.info-group{
    display: flex;
    flex-direction: row;
}

.info-group img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 20px;
}

.info-item{
    display:flex;
    flex-direction: column;
}

/* Subscribe */
#subscribe{
    background-color: #150F49;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.top-layer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }
  .top-layer span{
    font-size: 40px;
    font-weight: 700;
    color: #44C853;
  }
  .top-layer p{
    width: 500px;
    color: #FEFCFF;
    font-size: 15px;
    font-weight: 400;
  }.bottom-layer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .bottom-layer input{
    width: 400px;
    height: 50px;
    padding-left: 20px;
    border-radius: 32px;
  }
  .bottom-layer input::placeholder{
    color: #858088;
    font-size: 12px;
    font-weight: 400;
  }
  .bottom-layer button{
    width: 150px;
    height: 63px;
    background-color: #44C853;
    color: #FAFAFA;
    font-size: 10px;
    font-weight: 600;
    border: none;
    border-radius: 32px;
}


/* Footer styling */
.footer{
    display: flex;
    flex-direction: row;
    margin: 60px;
  }
  .main-footer{
    display: flex;
   
  }
  .firstlayer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 650px;
    gap:100px;
    align-items: center;
  }
  .logo-about{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .logo-about p{
    font-size: 13px;
    color: #858088;
    font-weight: 400;
    width: 150px;
  }
  .social-media{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-block: 10px 20px;
  }
  .social-media img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  .company{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .company p{
    font-size: 20px;
    font-weight: 700;
    color:#5D5561;
    margin-bottom: 10px;
  }
  .company a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #858088;
    margin-bottom: 10px;
  }
  .lastlayer{
    background-color: #150F49;
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .copyright{
    font-size: 12px;
    font-weight: 700;
    color: #FFFCFC;
  }


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#44C853;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}






/* Responsive Styling */
@media (max-width:1200px){
 /* Footer */
 .firstlayer{
    padding-left: 500px;
    gap: 50px;
  }
  .logo-about p{
    width: 100px;
 }
 .lastlayer{
  justify-content: center;
 }
}

@media (max-width:992px){
  h3{
    font-size: 24px;
  }
  h2{
    font-size: 30px;
  }
  p{
    font-size: 16px;
  }  

  /* Nav */
  header{
    padding: 0px 50px;
  }
  .green{
    width: 170px;
    height:50px;
    padding: 15px 15px;
  }

  /* Info */
  .info{
    padding: 50px 50px;
  }
  /* Footer */
  .firstlayer{
    padding-left: 300px;
    gap: 30px;
  }
}

@media (max-width:768px){

  h2{
    font-size: 30px;
  }
   /* Nav */
   header{
    padding: 0px 30px;
  } 
  .green{
    width: 120px;
    height: 40px;
    padding: 10px 10px;
    font-size: 12px;
  }

  /* Main */
  .main{
    padding: 50px 0px;
    text-align: center;
    width: fit-content;
  }
  .form-btn{
    width: 140px;
    font-size: 14px;
  }

  /* Form */
  form{
    padding: 50px 30px;
  }

  input, textarea{
    width: 300px;
    height: 50px;
    padding: 10px 20px;
    margin: 20px;
  }


  /* Info */
  .info{
    padding: 50px 30px;
  }
  .info-group img{
    margin-right: 8px;
  }
  .info-item h3{
    font-size: 16px;
  }
  .info-item p{
    font-size: 14px;
  }

  /* Subscribe */
  .top-layer span{
    font-size: 30px;
  }
  .bottom-layer button {
    width: 120px;
    height: 40px;
  }
  .bottom-layer input {
    width: 400px;
    height: 40px;
  }

  /* Footer */
  .firstlayer{
    padding-left: 150px;
  }
  .logo-about p{
    width: 120px;
  }

}



@media (max-width:576px){
   /* Navigation */
   header {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .head {
    margin-left: -20px;
  }
  
  .hamburger-menu {
    display: block;
    margin: 20px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    transition: top 0.3s;
  }

   
  .navigation {
    display: none;
    position: fixed;
    top: 0;
    left: -100%; /* Hide off-screen initially */
    width: 100%;
    background-color:#EFEDFF;
    gap: 10px;
    transition: left 0.4s;
    flex-direction: column;
    padding: 30px;
    z-index: 9;
  }

  nav a{
    color:#3325B2;
  }

  .navigation.show {
    display: flex;
    flex-direction: column;
    left: 0;
  }
  .green{
    display: none;
  }

  /* Main */
  
  .main{
    padding: 50px 20px;
  }
  .main h2{
    font-size: 30px;
  }
  .main p{
    font-size: 14px;
  }
  .main h3{
    font-size: 16px;
  }

  /* Form */
  form{
    /* padding: 50px 10px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
  }

  form {
    flex-direction: column;
    padding: 20px 20px;
  }

  input, textarea {
    width: 100%;
    max-width: fit-content;
    height: auto;
    margin: 15px 0;
    padding: 15px;
  }

    /* Info */
    .info{
      padding: 10px 20px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
    .info-group{
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 15px;
    }
    .info-group img{
      margin-bottom: 10px;
      width: 35px;
      height: 35px;
    }
    .info-item h3{
      font-size: 14px;
    }
    .info-item p{
      font-size: 12px;
    } 
  
    /* Subscribe */
    #subscribe{
      padding: 20px 10px;
      gap: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .top-layer span{
      font-size: 24px;
    }
    .top-layer p{
      font-size: 14px;
      width: 90%;
    }
    .bottom-layer{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
    .bottom-layer input{
      width: 90%;
      height: 40px;
    }
    .bottom-layer button{
      width: 90%;
      height: 40px;
    }
    .bottom-layer input::placeholder {
      font-size: 10px;
    }
    .bottom-layer button {
      font-size: 10px;
    }
  

  
    /* Footer */
    .footer{
      flex-direction: column;
      gap: 20px;
      margin: 20px;
    }
    .main-footer{
      margin: 7px;
    }
   
    .firstlayer{
      display: flexbox;
      flex-wrap: wrap;
      padding-left: 0px;
      gap: 20px;
      align-items:normal;
      margin:7px;
      margin-top: 0px;
    }
    .lastlayer{
      flex-direction:column;
      gap: 20px;  
      padding:25px;
      align-items: center;
    }

    .copyright{
      font-size: 12px;
      text-align: center;
    }
}
