@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Work Sans", sans-serif;
  background-color: #FAFAFA;
}

h2{
  font-family: "Lora", serif;
  font-size: 40px;
}

/* Header Styling */
header{
  padding: 0px 100px;
  height: 100px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav{
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav a{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-size: 14px;
  color: #5A5555;
  font-weight: 600;
}
nav a:hover{
  color: #3325B2;
}

.green{
  width: 150px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  padding:10px 0;
  background-color: #44C853;
  color: #FFFFFF;
  border: none;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
}
.green:hover{
  background-color: #FFFFFF;
  border: 2px solid #44C853;
  color: #44C853;
  cursor: pointer;
}

/* Services Dropdown Menu Styling */
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropdown-down.rotate {
  transform: rotate(180deg);
}
.dropdown-icon, .dropdown-down{
  width: 10px;
  margin-left: 5px;
}

.dropbtn {
  display: flex;
  align-items: center;
}

/* Dropdown content hidden by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  flex-direction: row;
}

.dropdown-content a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #726C6C;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; 
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:#3325B2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

 .dropdown-content.show {
  display: block;
}
.nav-active{
  color:#3325B2;
}

/* Hero styling */
#hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 20px;
  padding-inline: 100px;
}
.big-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-logo img{
  width: 250px;
}
.application-container{
  background-color:#FFFFFF;
  border-radius: 20px;
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px 100px;
}
.layer-1{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.layer-1 span{
  color: #44C853;
  font-size: 30px;
  font-weight: 700;
  font-family: "Lora", serif;
}
.layer-1 p{
  color: #898384;
  font-size: 20px;
  font-weight: 400;
}
/* Input Form Styling */
form{
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 50px;
}
.input-preview{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
label{
  font-size: 15px;
  font-weight: 400;
  color: #352B3A;
}
.input-preview input, .input-preview select{
  border: none;
  border-radius: 10px;
  background-color: #FAFAFA;
  height: 40px;
  width: 250px;
  padding-left: 20px;
}
.input-preview input:focus{
  outline: none;
  border-color: #666;
}
.custom-dropdown{
  appearance: none;
  font-size: 12px;
  font-weight: 400;
  color: #5D5561;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  background-image: url("/images/Icons/dropdown_icon.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px;
}
.input-preview input::placeholder{
  font-size: 12px;
  font-weight: 400;
  color: #5D5561;
}
/* Upload Styling */
.upload{
  display: flex;
  flex-direction: column;
  gap: 10px
}
.upload-resume, .cover-letter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.upload p{
  font-size: 12px;
  font-weight: 400;
  color: #9F9C9C;
  padding-top: 3px;
}
#customPlaceholder{
  width: 100px;
  background-color: #E3E3E3;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 12px;
  color: #898384;
}
#customPlaceholder:hover{
  background-color: #9F9C9C;
}
/* Checkbox Styling */
.checkbox{
  width: 400px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: left;
  align-self: center;
}
.checkbox p{
  color: #898384;
  font-size: 12px;
  font-weight: 400;
}
.layer-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.layer-3 button{
  width: 250px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  padding:10px 0;
  background-color: #3325B2;
  color: #FFFFFF;
  border: none;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
}
.layer-3 button:hover{
  background-color: #FFFFFF;
  border: 2px solid #3325B2;
  color: #3325B2;
  cursor: pointer;
}
.layer-3 div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.layer-3 div p{
  color: #858088;
  font-size: 15px;
  font-weight: 400;
}
.layer-3 div a{
  text-decoration: none;
  color: #3325B2;
  font-size: 15px;
  font-weight: 400;
}
.layer-3 div a:hover{
  color: #150F49;
  cursor: pointer;
}
/* footer styling */
.footer{
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.lastlayer{
  background-color: #150F49;
  padding: 40px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyright{
  font-size: 15px;
  font-weight: 700;
  color: #FFFCFC;
}
.terms{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.terms p{
  font-size: 15px;
  font-weight: 700;
  color: #FFFCFC;
}




/*Responsiveness*/
/* X-large devices (large desktops, less than 1400px*/
@media(max-width: 1400px){

}
/* Large devices (desktops, less than 1200px) */
@media(max-width: 1200px){

}
/* Medium devices (tablet, less than 992px)*/
@media(max-width: 992px){
  header{
    padding: 0px 50px;
    height: 100px;
  }
  .brand-logo{
    width: 100px;
    height: 30px;
  }
  nav{
    width: 500px;
  }
  nav a{
    font-size: 12px;
  }
  .green{
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
  #hero{
    padding: 20px 0px;
    gap: 10px;
  }
  .search{
    width: 500px;
    padding-block: 40px;
  }
  .search span{
    font-size: 20px;
  }
  .search h2{
    font-size: 30px;
  }
  .search p{
    font-size: 15px;
  }
  .location{
    gap: 30px;
  }
  .located-near{
    font-size: 29px;
  }
  .map-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  .map-inputs input{
    width: 250px;
    height: 40px;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .map-inputs input::placeholder{
    font-size: 13px;
  }
  .map-inputs img{
    width: 10px;
  }
  .dropdown-container{
    width: 40px;
    height: 40px;
    margin-left: -1px;
  }
  .location button{
    height: 40px;
    width: 120px;
    font-size: 13px;
  }
  #build{
    padding: 50px 0px;
  }
  .build-container{
    width: 700px;
    height: 300px;
    padding: 20px;
  }
  .left-card{
    gap: 20px;
  }
  .left-card h2{
    font-size: 25px;
    width: 250px;
  }
  .left-card p{
    font-size: 13px;
    width: 250px;
  }
  .left-card button{
    width: 150px;
    height: 40px;
    font-size: 10px;
  }
  .right-card img{
    width: 300px;
  }
  .shadow_color{
    width: 600px;
    height: 20px;
  }
  #subscribe{
    padding: 40px 0;
    gap: 30px;
  }
  .top-layer{
    gap: 10px;
  }
  .top-layer h2{
    font-size: 30px;
  }
  .top-layer p{
    width: 500px;
    font-size: 15px;
  }.bottom-layer{
    gap: 10px;
  }
  .bottom-layer input{
    width: 300px;
    height: 40px;
    padding-left: 20px;
  }
  .bottom-layer input::placeholder{
    font-size: 12px;
  }
  .bottom-layer button{
    width: 80px;
    height: 40px;
    font-size: 10px;
  }
  .footer{
    padding-top: 60px;
  }
  .firstlayer{
    padding: 0px 50px;
  }
  .logo-about{
    gap: 10px;
    padding-bottom: 30px;
    padding-right: 100px;
  }
  .logo-about p{
    font-size: 12px;
    width: 150px;
  }
  .social-media{
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-block: 10px 20px;
  }
  .social-media img{
    width: 30px;
    height: 30px;
  }
  .back-to-top a{
    gap: 10px;
  }
  .back-to-top img{
    width: 15px;
  }
  .back-to-top span{
    font-size: 12px;
  }
  .company p{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .company a{
    font-size: 12px;
  }
  .lastlayer{
    padding: 40px 50px;
  }
  .copyright{
    font-size: 12px;
  }
  .terms{
    gap: 15px;
  }
  .terms p{
    font-size: 12px;
  }
  
}
/* Small devices (landscape phones, less than 768px)*/
@media(max-width: 768px){
  header{
    padding: 0px 20px;
    height: 100px;
  }
  .brand-logo{
    width: 80px;
    height: 30px;
  }
  nav{
    width: 450px;
  }
  nav a{
    font-size: 12px;
  }
  .green{
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
  #hero{
    padding: 10px 0px;
    gap: 10px;
  }
  .search{
    width: 400px;
    padding-block: 40px;
  }
  .search span{
    font-size: 17px;
  }
  .search h2{
    font-size:25px;
  }
  .search p{
    font-size: 13px;
  }
  .location{
    gap: 30px;
  }
  .located-near{
    font-size: 20px;
  }
  .map-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
  }
  .map-inputs input{
    width: 200px;
    height: 40px;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .map-inputs input::placeholder{
    font-size: 13px;
  }
  .map-inputs img{
    width: 10px;
  }
  .dropdown-container{
    width: 40px;
    height: 40px;
    margin-left: -1px;
  }
  .location button{
    height: 40px;
    width: 120px;
    font-size: 13px;
  }
  #build{
    padding: 50px 0px;
  }
  .build-container{
    width: 500px;
    height: 300px;
    padding: 20px;
  }
  .left-card{
    gap: 20px;
  }
  .left-card h2{
    font-size: 20px;
    width: 200px;
  }
  .left-card p{
    font-size: 13px;
    width: 200px;
  }
  .left-card button{
    width: 140px;
    height: 40px;
    font-size: 10px;
  }
  .right-card img{
    width: 200px;
  }
  .shadow_color{
    width: 400px;
    height: 20px;
  }
  #subscribe{
    padding: 40px 0;
    gap: 30px;
  }
  .top-layer{
    gap: 10px;
  }
  .top-layer h2{
    font-size: 20px;
  }
  .top-layer p{
    width: 400px;
    font-size: 13px;
  }.bottom-layer{
    gap: 10px;
  }
  .bottom-layer input{
    width: 300px;
    height: 40px;
    padding-left: 20px;
  }
  .bottom-layer input::placeholder{
    font-size: 12px;
  }
  .bottom-layer button{
    width: 80px;
    height: 40px;
    font-size: 10px;
  }
  .footer{
    padding-top: 40px;
  }
  .firstlayer{
    padding: 0px 20px;
  }
  .logo-about{
    gap: 10px;
    padding-bottom: 30px;
    padding-right: 50px;
  }
  .logo-about p{
    font-size: 12px;
    width: 150px;
  }
  .social-media{
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-block: 10px 20px;
  }
  .social-media img{
    width: 30px;
    height: 30px;
  }
  .back-to-top a{
    gap: 10px;
  }
  .back-to-top img{
    width: 15px;
  }
  .back-to-top span{
    font-size: 12px;
  }
  .company p{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .company a{
    font-size: 12px;
  }
  .lastlayer{
    padding: 30px 20px;
  }
  .copyright{
    font-size: 10px;
  }
  .terms{
    gap: 10px;
  }
  .terms p{
    font-size: 10px;
  }
}

/* X-small devices (potrait phones, less than 576px) */
@media (max-width: 576px){
  header{
    padding: 0px 10px;
    height: 60px;
  }
  .brand-logo{
    width: 50px;
    height: 30px;
  }
  nav{
    width: 200px;
  }
  nav a{
    font-size: 8px;
  }
  .dropdown{
    width: 7px;
  }
  .green{
    width: 80px;
    height: 30px;
    font-size: 8px;
  }
  #hero{
    padding: 10px 0px;
    gap: 10px;
  }
  .search{
    width: 250px;
    padding-block: 30px;
  }
  .search span{
    font-size: 13px;
  }
  .search h2{
    font-size:18px;
  }
  .search p{
    font-size: 10px;
  }
  .location{
    gap: 30px;
  }
  .located-near{
    font-size: 15px;
  }
  .map-inputs{
    row-gap: 10px;
    column-gap: 10px;
  }
  .map-inputs input{
    width: 100px;
    height: 30px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .map-inputs input::placeholder{
    font-size: 8px;
  }
  .map-inputs img{
    width: 8px;
  }
  .dropdown-container{
    width: 30px;
    height: 30px;
    margin-left: -1px;
  }
  .location button{
    height: 30px;
    width: 80px;
    font-size: 10px;
  }
  #build{
    padding: 40px 0px;
  }
  .build-container{
    width: 300px;
    height: 200px;
    padding: 10px;
  }
  .left-card{
    gap: 15px;
  }
  .left-card h2{
    font-size: 13px;
    width: 120px;
  }
  .left-card p{
    font-size: 10px;
    width: 120px;
  }
  .left-card button{
    width: 120px;
    height: 30px;
    font-size: 9px;
  }
  .right-card img{
    width: 140px;
    height: 120px;
  }
  .shadow_color{
    width: 250px;
    height: 15px;
  }
  #subscribe{
    padding: 40px 0;
    gap: 20px;
  }
  .top-layer{
    gap: 10px;
  }
  .top-layer h2{
    font-size: 15px;
  }
  .top-layer p{
    width: 300px;
    font-size: 10px;
  }.bottom-layer{
    gap: 10px;
  }
  .bottom-layer input{
    width: 200px;
    height: 40px;
    padding-left: 20px;
  }
  .bottom-layer input::placeholder{
    font-size: 10px;
  }
  .bottom-layer button{
    width: 70px;
    height: 35px;
    font-size: 10px;
  }
  .footer{
    padding-top: 20px;
  }
  .firstlayer{
    padding: 0px 10px;
  }
  .logo-about{
    gap: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .logo-about p{
    font-size: 9px;
    width: 100px;
  }
  .social-media{
    gap: 7px;
    margin-block: 0px;
  }
  .social-media img{
    width: 22px;
    height: 22px;
  }
  .back-to-top a{
    gap: 5px;
  }
  .back-to-top img{
    width: 15px;
  }
  .back-to-top span{
    font-size: 10px;
  }
  .company p{
    font-size: 10px;
    margin-bottom: 5px;
  }
  .company a{
    font-size: 8px;
    margin-bottom: 5px;
  }
  .lastlayer{
    padding: 20px 10px;
  }
  .copyright{
    font-size: 8px;
  }
  .terms{
    gap: 5px;
  }
  .terms p{
    font-size: 8px;
  }
}