/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Base Styling */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
}

h2{
  font-family: "Lora", serif;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
}

h3{
  color: #44C853;
  font-size: 28px;
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

p{
  color: #898384;
}
a{
  text-decoration: none;
  color: white;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #002366;
  margin: 5px 0;
  transition: 0.4s;
}

/* Header Styling */
header{
    padding: 0px 100px;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
 nav{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  nav a{
    text-decoration: none;
    font-size: 14px;
    color: #5A5555;
    font-weight: 600;
}
  .green{
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    padding:10px 10px;
    background-color: #44C853;
    border: none;
    border-radius: 32px;
  }
  .green:hover {
    background-color: #077a43;
  } 

/* Hero Section */
.hero{
  display: flex;
  flex-direction: row;
  padding: 100px 100px;
  gap: 150px;
  justify-content: center;
  align-items: center;
  background:rgba(250, 250, 250, 255);
}

.hero h2{
  color: #44C853; 
  margin-bottom: 0;
}

.hero p{
  font-weight: 400;
  width: 500px;
  font-size: 23px;
  line-height: 33.6px;
}  

.hero-text img{
  margin-left: 250px;
  margin-bottom: 10px;
} 

.hero-text button{
  width:250px;
  height: 70px;
  margin-top: 100px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 32px;
  border:none;
  outline: none;
  color:white;
  background: var(--Primary-Primary, #3325B2);
}

.hero-text button:hover{
  background: #344bf9;
}

.hero-image { 
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

/* Our Mission */
.mission{
  display: flex;
  padding: 100px 100px;
  gap: 120px;
  justify-content: center;
  background:white;
}

.mission p{
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
}
.mission button{
  margin-top: 100px;
  height:63px;
  font-weight: 600;
}



/* Services */
.services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EFEDFF;
  align-items: center;
  padding: 100px 100px;
}

.services h2{
  margin: 7px 0px;
}

.services p{
  margin-top: 0;
}

.services-container{
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
  margin:40px 0;
}

.service-card h4{
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin: 12px 0;
  line-height: 28.8px;
  color:#44C853;
}

.service-card {
  background-color: white;
  border-radius: 32px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.service-card div{
  margin-bottom: 80px;
}
.service-card img {
  width: 100%;
  border-radius: 12px;
}
.card-btn {
  width: 143px;
  height: 41px;
  border-radius: 32px;
  border: none;
  background: #DFDCF8;
  padding: 10px 20px;
  position: absolute;
  bottom:20px;
  left:20px;
  font-weight: 600;
}  
.card-btn a{
  color:#3325B2;
}
.card-btn:hover {
  background: #8478f4;
}
.services .green {
  display: inline-block;
  background-color: #22b573;
  color: white;
  font-weight: 600;
  width:196px;
  height:63px;
  margin-top: 70px;
  padding: 10px 20px;
  border-radius: 32px;
}

.services .green:hover {
  background-color: #077a43;
} 



/* Why Medlorix */
.why-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
  background: #F5FFF6;
}

.intro{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.intro h2{
  margin-bottom: 20px;
}
.intro p{
  font-size: 24px;
  line-height: 28.8px;
}
.feature-row {
  display: flex;
  justify-content: space-evenly;  
  gap: 50px;
  margin-top: 70px;
  align-items: center;  
}
.feature-item{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.features img {
  width: 50px;
  margin-bottom: 20px;
}

.features h4 {
  margin-bottom: 7px;
}

.why-section button{
  width:196px;
  height:63px;
  padding: 10px 32px;
  border-radius: 32px;
  border: none;
  background-color: #3325B2;
  color: white;
  font-weight: 600;
  margin-top: 70px;
}




/* Build Styling */
#build{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
  }

.build-container h2{
    color: #FAFAFA;
    margin-bottom: 0;
}  
  .build-container{
    width: 900px;
    height: 400px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #150F49;
    border-radius: 20px;
  }
  .left-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .left-card span{
    font-family: "Lora", serif;
    font-size: 40px;
    font-weight: 700;
    width: 400px;
    color: #FAFAFA;
  }
  .left-card p{
    font-size: 20px;
    font-weight: 400;
    width: 350px;
    color: #FAFAFA;
  }
  .left-card button{
    width: 190px;
    height: 50px;
    background-color: #44C853;
    color: #FAFAFA;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
  }
  .right-card img{
    width: 400px;
  }
  .shadow_color{
    width: 800px;
    height: 25px;
    background-color: #DFDCF8;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  

  /* Tips */
  .tips{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
    background:#EFEDFF;
  }
  .tips h2{
    color:#44C853;
  }
  .tip-p{
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    width: 869px;
    text-align: center;
  }

  h5{
    color:#44C853;
    margin-bottom:7px;
    font-size: 14px;
  }
  .tips h4{
    color:#898384;
    margin-bottom: 7px;
    font-size: 18px;
    text-decoration: underline;
  }
  .section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 50px;
  }
  .tip-card{
    display: flex;
    background:#FAFAFA ;
    gap: 20px;
    padding: 24px 36px;
    border-radius: 32px;
  }

  .tip-card p{
    margin-bottom: 15px;
  }
   .tip-card a{
    font-weight: 600;
    text-decoration: none;
    color:#726C6C;
   }

   .tips button{
    width:250px;
    height:63px;
    padding: 10px 32px;
    border-radius: 32px;
    border: none;
    background-color: #3325B2;
    color: white;
    font-weight: 600;
    margin-top: 70px;
   }



  /* Subscribe */
  #subscribe{
    background-color: #150F49;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .top-layer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }
  .top-layer span{
    font-size: 40px;
    font-weight: 700;
    color: #44C853;
  }
  .top-layer p{
    width: 500px;
    color: #FEFCFF;
    font-size: 15px;
    font-weight: 400;
  }.bottom-layer{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .bottom-layer input{
    width: 400px;
    height: 50px;
    padding-left: 20px;
    border-radius: 32px;
  }
  .bottom-layer input::placeholder{
    color: #858088;
    font-size: 12px;
    font-weight: 400;
  }
  .bottom-layer button{
    width: 100px;
    height: 50px;
    background-color: #44C853;
    color: #FAFAFA;
    font-size: 10px;
    font-weight: 600;
    border: none;
    border-radius: 32px;
}


/* Footer styling */
.footer{
    display: flex;
    flex-direction: row;
    margin: 60px;
  }
  .main-footer{
    display: flex;
   
  }
  .firstlayer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 450px;
    gap:100px;
    align-items: center;
  }
  .logo-about{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .logo-about p{
    font-size: 13px;
    color: #858088;
    font-weight: 400;
    width: 150px;
  }
  .social-media{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-block: 10px 20px;
  }
  .social-media img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  .back-to-top a{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    align-items: center;
    text-decoration: none;
  }
  .back-to-top img{
    width: 20px;
  }
  .back-to-top span{
    text-decoration: none;
    color: #44C853;
    font-size: 15px;
    font-weight: 500;
  }
  .company{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .company p{
    font-size: 20px;
    font-weight: 700;
    color:#5D5561;
    margin-bottom: 10px;
  }
  .company a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #858088;
    margin-bottom: 10px;
  }
  .lastlayer{
    background-color: #150F49;
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .copyright{
    font-size: 15px;
    font-weight: 700;
    color: #FFFCFC;
  }
  .terms{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .terms p{
    font-size: 15px;
    font-weight: 700;
    color: #FFFCFC;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#44C853;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}


/* Responsive Styling */
/* X-large devices (large desktops, less than 1400px*/
/* Large devices (desktops, less than 1200px) */
@media(max-width: 1200px){

  h2{
    font-size:35px;
  }
  /* Hero Text */
  .hero{
    gap:50px;
  }

  .hero p{
    font-size: 20px;
  }
  .hero-text img{
    width: 215px;
  }

  .hero-text button{
    width:200px;
    height: 60px;
    font-size: 12px;
  }

  /* Our Mission */
  .mission{
    gap: 50px;
  }

  .mission p{
    font-size: 20px;
  }

  .mission button{
    margin-top: 80px;
    height: 60px;
  }

  /* Services */
  .services .green{
    margin-top: 50px;
    width: 200px;
    height: 60px;
  }
  
  /* Why Medlorix */
  .intro img{
    width: 500px;
  }
  .intro p{
    font-size: 20px;
  }

  /* Build */
  .build-container{
    gap:5px;
  }

  /* Tips */
  .tip-card p {
    font-size: 14px;
  }

  .tips button{
    width:210px;
    height:60px;
    padding: 10px 20px;
  }

  /* Footer */
  .firstlayer{
    padding-left: 400px;
  }
}



/* Medium devices (tablets, less than 992px) */
@media(max-width:992px){

  /* Nav */
  header{
    padding: 0px 50px;
  }
  .green{
    width: 170px;
    height:50px;
    padding: 15px 15px;
  }

  /* Hero */ 
  /* Needs further adjustments */
  .hero{
    gap:50px;
    padding:50px 70px;
  }
  .hero h2{
    font-size:30px;
  }
  .hero p{
    font-size: 16px;
    width:300px;
  }

  .hero-text{

  }
  .hero-text img{
    width: 200px;
    margin-left: 200px;
  }
  .hero-im{
    width:400px;
    
  }

}

/* Small devices (landscape phones, less than 768px) */
@media(max-width:768px){

}

/* X-Small devices (less than 576px) */
@media(max-width:576px){
   /* Navigation */
   header {
    width: 90%;
    margin: 0 auto;
  }
  .head {
    margin-left: -20px;
  }
  .hamburger-menu {
    display: block;
    margin-top: 10px;
  }

  .hamburger-menu .bar{
    background-color: #3325B2;
  }
  
  .navigation {
    display: none;
    position: fixed;
    top: 0;
    left: -100%; /* Hide off-screen initially */
    width: 100%;
    background-color:#EFEDFF;
    gap: 10px;
    transition: left 0.4s;
    flex-direction: column;
    padding: 30px;
    z-index: 9;
  }

  nav a{
    color:#3325B2;
  }

  .navigation.show {
    display: flex;
    flex-direction: column;
    left: 0;
  }
  .green{
    display: none;
  }

} 