@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}


a{
    text-decoration: none;
}
body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    margin: 0;
}

.logo {
    /* max-width: 0px;
    width: 300px;
    Height: 69px; */
    margin-bottom: 5px;
    margin-top: 50px;

}

.container {
    margin-top: 5px;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.logo img {
    width: 120px;
    margin-bottom: 20px;
}

h2 {
    color: #44c853;
    margin-bottom: 10px;
    font-size: 33px;
    font-family: 'Lora', serif;
}

p {
    color: #898384;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400px;
    font-family: "Work Sans", sans-serif;
}

.step-indicator {
    color: #7d7d7d;
    font-size: 18px;
    margin-bottom: 5px;
}

.form-container form {
    text-align: left;
    padding: 40px;
}

.input-group {
    margin-bottom: 30px;
    position: relative;
    gap: 2rem;
}

.input-group label {
    font-size: 14px;
    color: #352B3A;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    gap: 20px;
}

.input-group input {
    /* width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dedede;
    font-size: 16px;
    padding-right: 40px; */
    background-color: #fafafa;
    display: block; 
    width: 100%; 
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #5D5561;
    border: none;
    font-size: 14px;
    border-radius: 15px;
    height: 50px; 
    font-weight: 400; 
    padding: 8px; 
    box-sizing: border-box; 
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


span {
    color: #3b4cca;
}
button[type="submit"] {
    background-color: #3b4cca;
    color: white;
    padding: 12px;
    border-radius: 20px;
    border: none;
    width: 508px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Work Sans", sans-serif;
    margin-top: 30px;
}
.button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.button-cont a{
    color:white;
}  

button[type="submit"]:hover {
    background-color: #324ba8;
}

.signin {
    margin-top: 20px;
    font-size: 18px;
    color: #7d7d7d;
    font-family: "Work Sans", sans-serif;
}

.signin a {
    color: #3b4cca;
    text-decoration: none;
    font-size: 14px;
    line-height: 28.8px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
/* Footer styling */
.footer{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
  .lastlayer{
    background-color: #150F49;
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .copyright{
    font-size: 15px;
    font-weight: 700;
    color: #FFFCFC;
  }
  
  #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#44C853;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  }

  /* Medium devices (tablet, less than 992px)*/
@media(max-width: 992px){
    button[type="submit"] {
      width: 408px;
      font-size: 15px;
  } 
    /* Footer */
    .footer{
      padding-top: 60px;
    }
    .lastlayer{
      padding: 40px 50px;
    }
    .copyright{
      font-size: 15px;
    }
  }
  /* X-small devices (potrait phones, less than 576px) */
@media (max-width: 576px){
    button[type="submit"] {
      width: 250px;
      font-size: 12px;
  }
    /* Footer */
    .footer{
      flex-direction: column;
      gap: 20px;
    }
    .lastlayer{
      flex-direction: column;
      gap: 20px;  
      padding:25px;
      align-items: center;
    }
  }