@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* margin: 0; */
    background-color: #fafafa; 
}


.logo {
    Width:294px;
    Height: 69px;
    Top: 18.37px;
    Left: 70.86px;
    max-width: 294px;
    margin-top: 140px;

}
.container {
    margin-top: 30px;
    width: 926px;
    height: 1076px; 
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; 
    opacity: 1; 
    color: #898384;
    text-align: center;
}

h1 {
    color: #44c853;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 57.6px;
    text-align: center;
    margin-bottom: 10px;

}

.subtitle, .step {
    font-family: "Work Sans", sans-serif;
    margin-top: 0px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 28.8px;
    text-align: center;
    color: #898384;
}

.step {
    color: #B5B3B3;
    font-weight: 600px;
}

.google-button {
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* width: 572px; */
    width: 100%;
    padding: 0.5rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 20px;
    background-color: #fafafa;
    cursor: pointer;
    color: #352B3A;
    margin-bottom: 1rem;
    height: 69px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
}

.google-button img {
    margin-right: 10px;
    width: 48px;
    height: 48px;
}
.divider {
    display: center;
    font-family: Arial, sans-serif;
    align-items: center;
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}

.content {
    width: 742px;
    height: 1008px;
    justify-content: space-between;
}


.registration-form {
    text-align: left;
    margin-top: 20px;
    width: 700px;
    margin-top: 30px;


}

form{
    display: flex;
    flex-direction: column;
    /* align-items: center */
}
.form-row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 2rem;
    height: 94px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
    color: #352B3A;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-bottom: 0.25rem;
    font-weight: 400px;
    font-size: 18px;
    line-height: 21.6px;
}

input, select {
    background-color: #fafafa;
    display: flex;
    flex: 1;
    height: 1000px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 10px;
    color: #5D5561;
    border: none;
    font-size:x-small;
    border-radius: 15px;
    height: 69px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 19.2px;
    padding:8px, 0px, 8px, 0px;
}



select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    Width: 24.58;
    color: #9F9C9C;
}


.continue-button {
    width: 674px;
    border-radius: 35px;
    background-color: #3325B2;
    color: white;
    border: none;
    height: 72px;
    cursor: pointer;
    margin-top: 1rem;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 0.9rem;
    font-weight: 700px;
    font-size: 18px;
    line-height: 21.6px;
    font-family: "Work Sans", sans-serif;
}

.sign-in, .sign-up {
    font-size: 0.9rem;
    /* height: 69px; */
    font-weight: 400px;
    font-size: 24px;
    line-height: 28.8px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sign-in {
    margin-bottom: 2px;
}
.sign-in a{
    color: #3325B2;

}
a {
    color: #7e73e2;
    text-decoration: none;
}

.lastlayer {
    width: 1440px;
    height: 123px;
    padding: 26px 120px 37px 120px;
    background-color: #150F49;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.lastlayer{
    background-color: #150F49;
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 170px;
  }
  .copyright{
    font-size: 15px;
    font-weight: 700;
    color: #FFFCFC;
  }
  .terms{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .terms p{
    font-size: 15px;
    font-weight: 700;
    color: #FFFCFC;
} 




/* Media Queries */

/* X-Small devices (less than 576px) */
@media(max-width:576px){
    /* Navigation */
    header {
     width: 90%;
     margin: 0 auto;
   }
   .head {
     margin-left: -20px;
   }
   .hamburger-menu {
     display: block;
     margin-top: 10px;
   }
  
   .hamburger-menu .bar{
     background-color: #3325B2;
   }
   
   .navigation {
     display: none;
     position: fixed;
     top: 0;
     left: -100%; /* Hide off-screen initially */
     width: 100%;
     background-color:#EFEDFF;
     gap: 10px;
     transition: left 0.4s;
     flex-direction: column;
     padding: 30px;
     z-index: 9;
   }
  
   nav a{
     color:#3325B2;
   }
  
   .navigation.show {
     display: flex;
     flex-direction: column;
     left: 0;
   }
   .green{
     display: none;
   }
  
  } 